// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
ion-toolbar {
    --background: #1c355e !important;
    border: none;
    color: #fff !important;
    box-shadow: 0 0 5px #555;
    // @media (min-width: 768px) {
    //     height: 80px;
    //     align-items: center;
    //     justify-content: center;
    //     display: flex;
    // }
}

.alert-wrapper {
    max-width: 90% !important;
}

.alert-message {
    max-height: 52vh !important;
}

.action-sheet-group.sc-ion-action-sheet-md:first-child {
    margin-top: 20px;
}

ion-app {
    margin-top: env(safe-area-inset-top);
    margin-bottom: env(safe-area-inset-bottom)
}

body {
    background-color: var(--ion-color-primary);
}

// @media (max-width: 380px){
//     .ios ion-toolbar{
//       padding-top: 40px;
//       ion-title{
//         padding-top: 35px;
//       }
//     }
ion-header {
    --background: #1c355e !important;
    background: #1c355e;
}

ion-list-header {
    --background: #F1F7FD;
    text-transform: uppercase;
    color: #1c355d;
    font-size: 15px;
    font-family: 'Roboto-Bold';
}

ion-content {
    --background: url('assets/images/background.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.icons-btn {
    width: 40px;
    height: 40px;
    background-color: #032b71;
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    overflow: hidden;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: -8px;
}

.profile_image {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    margin-top: 0px;
    background-color: #939393;
    padding: 7px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.profile_image ion-img {
    width: 100%;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.profile-img-box {
    background-color: #00000000;
    color: white;
    text-align: center;
    justify-content: center;
    //padding: 15px;
}

#fileInput {
    opacity: 0;
    display: none;
}

.form {
    padding: 0px 30px !important
}

.icon.md.hydrated {
    font-size: 27px;
    position: relative;
    top: 6px;
}

.back-img {
    width: 30px !important;
    height: 30px !important;
}

.text-justify {
    text-align: justify !important;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.form-control {
    --ion-background-color: transparent;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 16px;
    font-family: 'Roboto';
}

.zip-info {
    position: relative !important;
    top: -10px !important;
    white-space: normal !important;
}

.zip-info span {
    font-weight: bold !important;
}

.empty-list-box {
    background: #fff !important;
    width: 100% !important;
    height: 100% !important;
    ;
    position: relative !important;
}

.empty-list {
    color: #1c355e !important;
    font-size: 25px !important;
    text-align: center !important;
    width: 100% !important;
    position: absolute !important;
    top: 43% !important;
    left: auto;
    transform: translate(0%, -50%) !important;
}

.col-rigth-aligh {
    text-align: right;
}

ion-card-content {
    height: auto;
    // border-radius: 10px;
    background-color: #ffffff;
    display: block;
    border: 1px solid #d4d4d4;
}

.top-img-logo ion-img {
    width: 88% !important;
    margin: 30px auto !important;
}

.welcome-title {
    color: #fff !important;
    display: block;
    font-size: 25px;
    padding: 0px;
    line-height: 0px;
    letter-spacing: 1px;
    font-family: 'Roboto-Bold';
    margin: 10px 0px 15px 0px;
}

.welcome-content {
    color: #fff !important;
    display: block;
    font-size: 20px;
    letter-spacing: 1px;
    margin: 8px 0px 30px 0px;
}

.title {
    margin-top: 25px;
    display: block;
    font-size: 20px;
    padding: 0px;
    line-height: 0px;
    letter-spacing: 1px;
    font-family: 'Roboto-Bold';
}

.sub-title {
    margin-top: 15px;
    display: block;
    font-size: 16px;
    padding: 0px;
    line-height: 0px;
    letter-spacing: 1px;
}

.content {
    display: block;
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 5px;
}

.content.posted {
    font-family: 'Roboto-Bold'!important;
    //   color: red !important;
}

.content.pending {
    color: red !important;
    font-family: 'Roboto-Bold'!important;
}

.content.rejeced {
    color: #1c355e !important;
    font-family: 'Roboto-Bold'!important;
}

.content.taskinprogress {
    font-family: 'Roboto-Bold'!important;
    color: orange !important;
}

.content.deleted {
    font-family: 'Roboto-Bold'!important;
    color: green !important;
}

.content.closed {
    font-family: 'Roboto-Bold'!important;
    color: green !important;
}

.content.completed {
    font-family: 'Roboto-Bold'!important;
    color: green !important;
}

.link-content {
    font-size: 17px;
    font-family: 'Roboto-Bold';
}

.link-content.text-right {
    margin: 20px 0px;
    display: block;
    width: 100%;
}

.sublink {
    color: #951b1e !important;
    text-decoration: underline !important;
    margin-left: 8px;
    font-size: 17px;
    font-family: 'Roboto-Bold';
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.bold {
    font-family: 'Roboto-Bold';
    font-size: 14px;
}

.content-box {
    text-align: center;
    margin: 0 auto;
}

.content-box .content {
    font-size: 13px;
    padding: 0px;
    line-height: 8px;
    margin: 0px;
    font-family: 'Roboto-Bold';
    display: inline;
}

.content-box .content.link {
    color: #16A6e7;
    text-decoration: underline;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn.btn-red {
    width: 100%;
    display: block;
    --background: #be2527;
    color: #fff;
    --border-radius: 0px !important;
    text-transform: uppercase;
    font-family: 'Roboto-Bold';
    text-align: center !important;
    letter-spacing: 1px !important;
}

.btn.btn-cancel {
    width: 100%;
    display: block;
    --background: #be2527;
    color: #fff;
    --border-radius: 0px !important;
    text-transform: uppercase;
    font-family: 'Roboto-Bold';
    text-align: center !important;
    letter-spacing: 1px !important;
}

.btn.btn-blue {
    width: 100%;
    font-size: 13px;
    --background: #1c355e;
    color: white !important;
    text-transform: capitalize;
    font-family: 'Roboto-Bold';
    --border-radius: 5px !important;
    overflow: hidden;
}

.btn.btn-white {
    --background: white !important;
    width: 100%;
    color: red;
    font-size: 16px;
    font-family: 'Roboto-Bold';
    border-radius: 20px;
    overflow: hidden;
}

.btn.btn-green {
    width: 100%;
    font-size: 13px;
    --background: #5db75d;
    color: white !important;
    text-transform: capitalize;
    font-family: 'Roboto-Bold';
    --border-radius: 5px !important;
    overflow: hidden;
}

.header-title {
    display: block;
    width: 100%;
    margin: 0px !important;
    padding: 0px !important;
    margin-left: -15px !important;
    font-size: 17px;
}

.text-center {
    text-align: center;
}

.ml-10 {
    margin-left: 10px !important;
}

.mt-15 {
    margin-top: 15px !important;
}

.open-models {
    opacity: 1 !important;
}

.open-models a {
    position: relative !important;
    display: inline-block !important;
    z-index: 1111 !important;
    pointer-events: all !important;
}

.tabing_task {
    display: block;
    // position: relative;
    width: 100%;
    cursor: pointer;
    color: white;
    line-height: 55px !important;
    height: 55px !important;
    padding: 0px !important;
    text-align: center;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.tabing_task ion-radio {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.ionic-selectable-label-floating,
.ionic-selectable-label-stacked {
    padding-left: 10px !important;
}


/* Create a custom checkbox */

.taskcheckmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-weight: normal !important;
    font-family: 'Roboto' !important;
    background-color: #aaa;
    z-index: -1;
}


/* When the checkbox is checked, add a blue background */

.tabing_task ion-radio.radio-checked~.taskcheckmark {
    --background: #1c355e !important;
    background: #1c355e !important;
    font-weight: bold !important;
    font-size: 18px !important;
    font-family: 'Roboto-Bold' !important;
    --background-color: #1c355e !important;
    background-color: #1c355e !important;
}

.tabing_task {
    --background: #aaa !important;
    background: #aaa !important;
    font-weight: normal !important;
    font-family: 'Roboto' !important;
    font-size: 17px !important;
    --background-color: #aaa !important;
    background-color: #aaa !important;
}

.tabing_task.active {
    --background: #1c355e !important;
    background: #1c355e !important;
    font-weight: bold !important;
    font-size: 18px !important;
    font-family: 'Roboto-Bold' !important;
    --background-color: #1c355e !important;
    background-color: #1c355e !important;
}


/* Create the checkmark/indicator (hidden when not checked) */

.taskcheckmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.tabing_task ion-radio:checked~.taskcheckmark:after {
    display: block;
}

.actions-profile {
    text-decoration: underline;
    color: #1c355e;
    font-size: 14px;
}