:host {
    ion-header ion-toolbar {
        padding-top: 0px !important
    }
    ion-content {
        --background: transparent;
        position: relative;
    }
    ion-grid {
        width: 100%;
        background-color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    ion-img {
        width: 30px !important;
    }
    .form-control {
        color: #010B17 !important;
    }
    .iss-signaturepad-container {
        width: 100% !important;
        height: 100% !important;
        border-radius: 10px;
        box-shadow: 0px 0px 4px 0px #ccc;
        //padding: 20px;
        ion-row {
            align-items: center;
            justify-content: center;
            display: flex;
        }
        ion-col {
            text-align: center;
        }
    }
    .home-button {
        --background: -webkit-linear-gradient(90deg, #1c355e 0%, #1c355e 100%) !important;
        color: #fff;
        --background-hover: -webkit-linear-gradient(90deg, #1c355e 0%, #1c355e 100%) !important;
    }
    h4.title {
        margin: 0px;
        padding: 0px;
        margin-bottom: 10px;
        color: #1c355e;
        font-size: 26px;
        font-family: 'Lato-Bold';
    }
    .btn {
        // max-width: 210px;
        width: 100%;
        font-family: 'Lato';
        font-size: 18px !important;
        height: 46px;
        font-weight: bolder;
        --background: #1c355e;
        border-radius: 8px;
        overflow: hidden;
    }
    .content {
        font-family: 'Lato';
        font-size: 17px;
        display: block;
        margin: 20px auto;
    }
}