<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-img src="../../../../../../assets/images/Back.png" (click)="cancel()"></ion-img>
        </ion-buttons>
        <ion-title class="header-title text-center"></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content (click)="dismissModal()" scrollX="false" scrollY="false">
    <form [formGroup]="cardForm" (ngSubmit)="callStrip()" style="padding: 0 6px;">
        <ion-grid class="iss-signaturepad-container">
            <ion-row>
                <ion-col>
                    <!-- <ion-item no-padding class="form">
                        <ion-input  placeholder="Card Number" maxlength="4" formControlName="" id="cardnumber"></ion-input>
                    </ion-item> -->
                    <ion-item no-padding class="form-control">
                        <ion-label position="floating">Card Number</ion-label>
                        <ion-input type="number" formControlName="cardnumber"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="6">
                    <!-- <ion-item no-padding class="form">
                        <ion-input type="text" placeholder="02/12" formControlName="cardexpiry"></ion-input>
                    </ion-item> -->
                    <ion-item no-padding class="form-control">
                        <ion-label position="floating">Expiration(Mm/Yy)</ion-label>
                        <ion-input type="text" formControlName="cardexpiry"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="6">
                    <!-- <ion-item no-padding class="form">
                        <ion-input type="number" mask="***" placeholder="CVV" formControlName="cardcvv"></ion-input>
                    </ion-item> -->
                    <ion-item no-padding class="form-control">
                        <ion-label position="floating">CVV</ion-label>
                        <ion-input type="number" formControlName="cardcvv"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row class="mb-10">
                <ion-col size="12">
                    <ion-button class="btn text-uppercase" [disabled]="!cardForm?.valid" type="submit">
                        PAY
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>