<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title class="header-title text-center">Payment Transactions</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-radio-group [(ngModel)]="selectPage">
        <ion-grid no-padding>
            <ion-row no-padding>
                <ion-col no-padding>
                    <ion-label class="tabing_task tabing1 active">Payment Received
                        <ion-radio value="post"></ion-radio>
                        <span class="taskcheckmark"></span>
                    </ion-label>
                </ion-col>
                <ion-col no-padding>
                    <ion-label class="tabing_task tabing1">Paid Out
                        <ion-radio value="accept"></ion-radio>
                        <span class="taskcheckmark"></span>
                    </ion-label>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-radio-group>

    <ion-list no-padding *ngIf="paymentRecivedList?.length > 0 && this.selectPage=='post'" style="margin-bottom: 30px;">
        <ion-card-content *ngFor="let task of paymentRecivedList" no-padding>
            <ion-grid no-padding>
                <ion-row style="padding-left: 5px; padding-right: 5px;">
                    <ion-col no-padding size="12" (click)="taskClick(task,'accept')">
                        <!-- <ion-label class="title bold">{{task.ServiceName}}({{task.Total}})</ion-label> -->
                        <ion-label class="title bold">{{task.ServiceName}}</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row style="padding-left: 5px; padding-right: 5px;" (click)="taskClick(task,'accept')">
                    <ion-col no-padding size="5">
                        <ion-label class="title gray">Completed Date : </ion-label>
                    </ion-col>
                    <ion-col no-padding size="7">
                        <ion-label class="content">{{ task.UpdateDate | date:'MM/dd/yyyy' }}</ion-label>
                    </ion-col>
                </ion-row>
                <!-- style="padding-left: 5px; padding-right: 5px;" -->
                <ion-row style="padding-left: 5px; padding-right: 5px;" no-padding>
                    <ion-col no-padding size="5">
                        <ion-label class="title gray">Posted By : </ion-label>
                    </ion-col>
                    <ion-col no-padding size="7">
                        <ion-label class="content">{{task.name}}</ion-label>
                    </ion-col>
                </ion-row>

                <ion-row style="padding-left: 5px; padding-right: 5px;" no-padding>
                    <ion-col no-padding size="5">
                        <ion-label class="title gray">Deal :</ion-label>
                    </ion-col>
                    <ion-col no-padding size="7">
                        <ion-label class="content">${{task.Deal}}</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row style="padding-left: 5px; padding-right: 5px;" no-padding>
                    <ion-col no-padding size="5">
                        <ion-label class="title gray">Transaction Status:</ion-label>
                    </ion-col>
                    <ion-col no-padding size="7">
                        <ion-label class="content"> {{task.TransactionStatus}} </ion-label>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-list>

    <ion-list no-padding *ngIf="paidOutList?.length > 0 && this.selectPage=='accept'" style="margin-bottom: 30px;">

        <ion-card-content *ngFor="let task of paidOutList" no-padding>
            <ion-grid no-padding>
                <ion-row style="padding-left: 5px; padding-right: 5px;">
                    <ion-col no-padding size="12" (click)="taskClick(task,'posted')">
                        <!-- <ion-label class="title bold">{{task.ServiceName}}({{task.Total}})</ion-label> -->
                        <ion-label class="title bold">{{task.ServiceName}}</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row style="padding-left: 5px; padding-right: 5px;" (click)="taskClick(task,'posted')">
                    <ion-col no-padding size="5">
                        <ion-label class="title gray">Completed Date : </ion-label>
                    </ion-col>
                    <ion-col no-padding size="7">
                        <ion-label class="content">{{ task.UpdateDate | date:'MM/dd/yyyy' }}</ion-label>
                    </ion-col>
                </ion-row>
                <!-- style="padding-left: 5px; padding-right: 5px;" -->
                <ion-row style="padding-left: 5px; padding-right: 5px;" no-padding>
                    <ion-col no-padding size="5">
                        <ion-label class="title gray">Accepted By : </ion-label>
                    </ion-col>
                    <ion-col no-padding size="7">
                        <ion-label class="content">{{task.name}}</ion-label>
                    </ion-col>
                </ion-row>

                <ion-row style="padding-left: 5px; padding-right: 5px;" no-padding>
                    <ion-col no-padding size="5">
                        <ion-label class="title gray">Deal :</ion-label>
                    </ion-col>
                    <ion-col no-padding size="7">
                        <ion-label class="content">${{task.Deal}}</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row style="padding-left: 5px; padding-right: 5px;" no-padding>
                    <ion-col no-padding size="5">
                        <ion-label class="title gray">Transaction Status:</ion-label>
                    </ion-col>
                    <ion-col no-padding size="7">
                        <ion-label class="content"> {{task.TransactionStatus}} </ion-label>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-list>

    <ion-card-content no-padding class="empty-list-box" *ngIf="paymentRecivedList?.length == 0  && this.selectPage=='post'">
        <ion-label class="empty-list">
            Transactions Not Available!
        </ion-label>
    </ion-card-content>

    <ion-card-content no-padding class="empty-list-box" *ngIf="paidOutList?.length == 0  && this.selectPage=='accept'">
        <ion-label class="empty-list">
            Transactions Not Available!
        </ion-label>
    </ion-card-content>


</ion-content>