:host {
    ion-header ion-toolbar {
        padding-top: 0px !important
    }
    ion-content {
        --background: #ffffff;
    }
    .title {
        margin-top: 0px;
        display: inline !important;
        font-size: 13px;
        padding: 0px;
        line-height: 0px;
        letter-spacing: 0px;
        font-family: 'Roboto-Bold';
        color: #505050;
        margin-left: 1px;
    }
    .content {
        font-size: 13px;
        letter-spacing: 0;
        display: inline-block;
        margin: 0px !important;
        margin-top: 0px !important
    }
    .col-rigth-aligh .content {
        display: block;
        color: #1c355d;
    }
    .title.bold {
        display: inline !important;
        margin: 10px 0px !important;
        margin-left: 0px !important;
        margin-top: 15px !important;
        text-decoration: underline;
        color: #1c355e;
        font-size: 16px;
    }
    .title.blue {
        color: #1c355e;
    }
    .title span {
        font-weight: normal;
        font-family: 'Roboto';
    }
    .btn.btn-red {
        width: 85% !important;
        display: inline-block;
        text-transform: capitalize;
        --border-radius: 5px !important;
    }
    .btn.btn-green {
        width: 85% !important;
        display: inline-block;
    }
    .btn.btn-blue {
        width: 85% !important;
        display: inline-block;
    }
}