:host {
    ion-header ion-toolbar {
        padding-top: 0px !important
    }
    ion-content {
        --background: #ffffff;
    }
    .title {
        margin-top: 9px;
        font-size: 13px;
        color: #000000;
        line-height: normal;
    }
    .value {
        font-size: 13px;
        color: #505050;
        opacity: 1;
    }
    ion-row {
        text-align: center;
        border-bottom: 1px solid #b2b2b2;
    }
    ion-label {
        text-align: left;
    }
    ion-item {
        color: black;
    }
    ion-input {
        text-align: left;
    }
    ion-textarea {
        padding-top: 0px;
        text-align: left;
    }
    .profile-img-box {
        margin-bottom: 0px !important
    }
    .profile-img-block {
        border: none !important;
    }
    .business-card-img {
        margin: 5px !important;
        width: 50px !important;
        height: auto !important;
        background: #ddd !important;
    }
    .pop-block {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7) !important;
        z-index: 1111;
    }
    .popup-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
    }
    .popup-box-close {
        color: #FFFFFF;
        font-size: 30px;
        width: 30px;
        float: right;
    }
    ion-checkbox {
        --webkit-margin-end: 10px !important;
        --margin-inline-end: 10px !important;
        --ion-color-primary: #505050 !important;
        --ion-color-primary-contrast: #ff0000 !important;
        --border-color: #505050;
    }
    .sec .form-control {
        border-bottom: none !important;
        font-size: 15px !important;
        display: block !important;
        --inner-border-width: 0 0 0px 0 !important;
        width: auto !important;
        float: left;
    }
    .clickEnableCls {
        --pointer-events: visible !important;
    }
}