<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title class="header-title text-center">Profile </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content no-padding>
    <ion-grid no-padding *ngIf="user.name !=''">
        <ion-row class="profile-img-block">
            <ion-col class="profile-img-box">
                <div class="profile_image">
                    <ion-img class="pro-img" id="profile_image" *ngIf="user.userimage == '' " src="../../../../../assets/images/avtar.png"></ion-img>
                    <ion-img class="pro-img" id="profile_image" *ngIf="user.userimage != '' && user.userimage != 'http://agentaway.com//uploads/'" src="{{user.userimage}}"></ion-img>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ionic4-star-rating #rating readonly="true" activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#fdb515" defaultColor="#888888" [(ngModel)]="rat" rating="0" fontSize="25px">
                </ionic4-star-rating>
                <ion-label *ngIf='rat == 0' style="font-size: 13px;color: red;">No task accept till now.</ion-label>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="4.5">
                <ion-label class="title">Name</ion-label>
            </ion-col>
            <ion-col size="7.5">
                <ion-input class="value" [disabled]="!isEdit" type="text">{{user.name}}</ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="4.5">
                <ion-label class="title">Licence No.</ion-label>
            </ion-col>
            <ion-col size="7.5">
                <ion-input class="value" [disabled]="!isEdit" type="text">{{user.license_number}}</ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="4.5">
                <ion-label class="title">Mobile No.</ion-label>
            </ion-col>
            <ion-col size="7.5">
                <!-- <ion-input class="value" disabled type="text">{{user.mobile_no}}</ion-input> -->
                <ion-input class="value" disabled type="text"><a href="tel:{{user.mobile_no}}" class="button button-positive">{{user.mobile_no}}</a></ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="4.5">
                <ion-label class="title">Email</ion-label>
            </ion-col>
            <ion-col size="7.5">
                <ion-input class="value" disabled type="text"><a href="mailto:{{user.email}}" class="button button-positive">{{user.email}}</a></ion-input>
                <!-- <ion-input class="value" type="text" [disabled]="!isEdit">{{user.email}}</ion-input> -->
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="4.5">
                <ion-label class="title">Broker’s Office Name</ion-label>
            </ion-col>
            <ion-col size="7.5">
                <ion-input class="value" [disabled]="!isEdit" type="text">{{user.brokeroffice_name}}</ion-input>
            </ion-col>
        </ion-row>
        <ion-row *ngIf='user.role_id != "2"'>
            <ion-col size="4.5">
                <ion-label class="title" *ngIf='user.role_id==3 || user.role_id==4 '>Broker Code</ion-label>
                <ion-label class="title" *ngIf='user.role_id==5 || user.role_id==6'>Team Code</ion-label>
            </ion-col>
            <ion-col size="7.5">
                <ion-input class="value" *ngIf='user.role_id==4 || user.role_id == 6' disabled type="text">{{user.broker_code}}</ion-input>
                <ion-input class="value" *ngIf='user.role_id==3 || user.role_id == 5' disabled type="text">{{user.my_broker_code}}</ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="4.5">
                <ion-label class="title">About Me</ion-label>
            </ion-col>
            <ion-col size="7.5">
                <ion-input class="value" [disabled]="!isEdit" type="text">{{user.About}}</ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="4.5">
                <ion-label class="title">Description of Car (for safety purpose)
                </ion-label>
            </ion-col>
            <ion-col size="7.5">
                <ion-input class="value" [disabled]="!isEdit" type="text">{{user.DesVehicleSafety}}</ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="4.5">
                <ion-label class="title">Address</ion-label>
            </ion-col>
            <ion-col size="7.5">
                <ion-input class="value" [disabled]="!isEdit" type="text">{{user.street_address}}</ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="4.5">
                <ion-label class="title">City</ion-label>
            </ion-col>
            <ion-col size="7.5">
                <ion-input class="value" [disabled]="!isEdit" type="text">{{user.city}}</ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="4.5">
                <ion-label class="title">State</ion-label>
            </ion-col>
            <ion-col size="7.5">
                <ion-input class="value" [disabled]="!isEdit" type="text">{{user.state}}</ion-input>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="4.5">
                <ion-label class="title">Zip Code</ion-label>
            </ion-col>
            <ion-col size="7.5">
                <ion-input class="value" [disabled]="!isEdit" type="text">{{user.st_zip}}</ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="4.5">
                <ion-label class="title">Zip code Areas of interest</ion-label>
            </ion-col>
            <ion-col size="7.5">
                <ion-input class="value" [disabled]="!isEdit" [(ngModel)]="ZipCode" type="text"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="4.5">
                <ion-label class="title">Business Card</ion-label>
            </ion-col>
            <ion-col size="7.5">
                <!-- <ion-input type="hidden" formControlName="business_card"></ion-input> -->
                <ion-img class="business-card-img" *ngIf="user.business_card != '' && user.business_card != 'http://agentaway.com//uploads/'" src="{{user.business_card}}" (click)="imagePreview(user.business_card)"></ion-img>
                <ion-img class="business-card-img" *ngIf="user.business_card == ''" src="../../../../assets/images/no_image.png"></ion-img>
            </ion-col>
            <!-- <ion-button [disabled]="!isEdit" (click)=selectImage(2)> Pick Image</ion-button> -->
        </ion-row>

        <!-- <ion-row>
                <ion-col>
                    <ion-label class="title">Business Cord</ion-label>
                    <ion-list class="sec">
                        <ion-item no-padding class="form-control">
                            <ion-label class="value">Broker Payment Authorization and Participation</ion-label>
                            <ion-checkbox slot="start" [disabled]="!isEdit" formControlName="ethicalcodeofconduct"></ion-checkbox>
                        </ion-item>
                        <ion-item no-padding class="form-control">
                            <ion-label class="value">Non Compete Agreement</ion-label>
                            <ion-checkbox slot="start" [disabled]="!isEdit" formControlName="nonecompate"></ion-checkbox>
                        </ion-item>
                        <ion-item no-padding class="form-control">
                            <ion-label class="value">Safety Tips</ion-label>
                            <ion-checkbox slot="start" [disabled]="!isEdit" formControlName="saftey"></ion-checkbox>
                        </ion-item>
                        <ion-item no-padding class="form-control">
                            <ion-label class="value">Electronic Signature Consent</ion-label>
                            <ion-checkbox slot="start" [disabled]="!isEdit" formControlName="econsert"></ion-checkbox>
                        </ion-item>
                    </ion-list>
                </ion-col>
                
            </ion-row> -->
    </ion-grid>

</ion-content>

<div *ngIf="businessCard" class="pop-block">
    <div class="popup-box">
        <ion-label class="popup-box-close" (click)="imagePreview(user.business_card)"> &times; </ion-label>
        <ion-img class="pop-img" src="{{user.business_card}}"></ion-img>
    </div>
</div>