<ion-content>
    <ion-grid class="top-img-logo">
        <ion-row>
            <ion-col class="text-left">
                <ion-label class="welcome-title">Select</ion-label>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col class="text-left">
                <ion-label class="welcome-content">Sign Up to continue</ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid>
        <ion-radio-group class="custom-radio-block" (ionChange)="onChangeHandler($event)">
            <ion-row>
                <ion-col class="custom-radio-box">
                    <ion-img src="../../../assets/images/Realtor.png"></ion-img>
                    <ion-item class="form-control" (click)="clickRadio('Realtor')">
                        <ion-radio slot="start" value="Realtor" checked></ion-radio>
                    </ion-item>
                    <ion-label>Realtor®</ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="custom-radio-box">
                    <ion-img src="../../../assets/images/Broker.png "></ion-img>
                    <ion-item class="form-control" (click)="clickRadio('Broker')">
                        <ion-radio slot="start" value="Broker"></ion-radio>
                    </ion-item>
                    <ion-label>Broker</ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="custom-radio-box">
                    <ion-img src="../../../assets/images/Team.png"></ion-img>
                    <ion-item class="form-control" (click)="clickRadio('Team')">
                        <ion-radio slot="start" value="Broker"></ion-radio>
                    </ion-item>
                    <ion-label>Team</ion-label>
                </ion-col>
            </ion-row>

        </ion-radio-group>
        <ion-row>
            <ion-col offset="5">
                <ion-img class="back-img" (click)="clickBack()" src="../../../assets/images/Back.png"></ion-img>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>