:host {
    ion-label {
        color: #234781;
    }
    ion-list {
        background: transparent;
    }
    ion-img {
        width: 120px;
        height: auto;
        margin: 0px !important;
    }
    .ion-img-logo {
        width: 70% !important;
        height: 70px !important;
        margin: 0px !important;
    }
    ion-radio {
        --inner-border-width: 0 0 0px 0;
    }
    .custom-radio-box {
        width: 100%;
        max-width: 120px;
        margin: 0 auto;
        position: relative;
        height: 100%;
        margin-bottom: 15px;
        text-align: center;
    }
    .custom-radio-box .form-control {
        position: absolute;
        border: none !important;
        top: 0px;
        width: 100%;
        display: block;
        height: 100%;
        --border-width: 0 0 0 0 !important;
        --inner-border-width: 0 0 0px 0 !important
    }
    .custom-radio-box ion-radio {
        --inner-border-width: 0 0 0px 0;
        position: absolute;
        width: 120px;
        height: 120px;
        top: 0px;
        left: 0px;
        display: block;
        opacity: 0;
        padding: 0px !important;
    }
    .custom-radio-box ion-label {
        font-size: 18px;
        display: block;
        margin-top: 10px;
        font-family: 'Roboto-Bold';
    }
    .back-img {
        width: 60px !important;
        height: 60px !important;
        background-color: #234781 !important;
        padding: 15px;
        border-radius: 50% !important;
        line-height: normal;
        margin: 20px auto 0 auto;
        display: block;
    }
    .welcome-content {
        display: block;
        font-size: 17px;
        letter-spacing: 2px;
        margin: 0px 0px 0px 20px;
    }
    .welcome-title {
        display: block;
        font-size: 20px;
        padding: 0px;
        line-height: 0px;
        letter-spacing: 2px;
        font-family: 'Roboto-Bold';
        margin: 20px 0px 15px 20px;
    }
}