<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title class="header-title text-center">{{pageTitle}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <!-- <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)" style="padding: 0 6px;"> -->
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-label class="bold" position="floating">1. Did you meet with your assigned agent?</ion-label>
                <ion-list class="sec">
                    <ion-radio-group [(ngModel)]="opt">
                        <ion-item no-padding class="form-control">
                            <ion-label style="opacity: 1 !important;">Yes</ion-label>
                            <ion-radio [disabled]="type == 'accept'" value="yes" slot="start"></ion-radio>
                        </ion-item>
                        <ion-item no-padding class="form-control">
                            <ion-label style="opacity: 1 !important;">No</ion-label>
                            <ion-radio [disabled]="type == 'accept'" value="no" slot="start"></ion-radio>
                        </ion-item>
                        <ion-item no-padding class="form-control">
                            <ion-label style="opacity: 1 !important;">Re-Scheduled for another time</ion-label>
                            <ion-radio [disabled]="type == 'accept'" value="rechedule" slot="start"></ion-radio>
                        </ion-item>
                    </ion-radio-group>
                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item no-padding>
                    <ion-label class="bold">2. How would you rate your agent?</ion-label>
                </ion-item>
                <ion-item no-padding *ngIf="type == 'accept'">
                    <!-- <star-rating #rating [rating]="0" checkedcolor="white" uncheckedcolor="white" size="30px"  > </star-rating> -->
                    <!-- <ion-rating [disabled]="type == 'accept'" formControlName="a2" size="default"></ion-rating> -->
                    <ionic4-star-rating #rating readonly="true" activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#00ff00" defaultColor="#ff0000" [(ngModel)]="rat" rating="0" fontSize="25px">
                    </ionic4-star-rating>

                </ion-item>
                <ion-item no-padding *ngIf="type != 'accept'">
                    <!-- <star-rating #rating [rating]="0" checkedcolor="white" uncheckedcolor="white" size="30px"  > </star-rating> -->
                    <!-- <ion-rating [disabled]="type == 'accept'" formControlName="a2" size="default"></ion-rating> -->
                    <ionic4-star-rating #rating readonly="false" activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#00ff00" defaultColor="#ff0000" [(ngModel)]="rat" rating="0" fontSize="25px">
                    </ionic4-star-rating>

                </ion-item>
            </ion-col>
        </ion-row>

    </ion-grid>

    <ion-row *ngIf="type != 'accept'" class="ion-row">
        <ion-col>
            <ion-button class="btn btn-green" type="submit" (click)="onSubmit()" [disabled]="opt == undefined || rat == undefined ">
                Report Send
            </ion-button>
        </ion-col>
    </ion-row>
    <!-- </form> -->
</ion-content>