:host {
    ion-content {
        --background: #f2f7fd;
    }
    ion-header ion-toolbar {
        padding-top: 0px !important
    }
    ion-grid {
        background: #f2f7fd;
        margin: 5px !important;
        //        border-radius: 10px !important;
    }
    ion-row {
        background: gray;
        margin: 10px;
        border-radius: 10px !important;
    }
    .ion-row {
        background: transparent;
        margin: 10px;
        border-radius: 10px !important;
        text-align: center
    }
    ion-list {
        background: transparent;
    }
    ion-label {
        color: white;
    }
    ion-item {
        --background: transparent !important;
        border-bottom: 0px solid transparent !important;
    }
    ion-rating {
        --star-color: red;
        --star-color-filled: green;
    }
    .title {
        margin-top: 0px;
        display: inline-block;
        font-size: 13px;
        padding: 0px;
        line-height: 0px;
        letter-spacing: 0px;
        font-family: 'Roboto-Bold';
        color: #505050;
        margin-left: 1px;
    }
    .content {
        font-size: 13px;
        letter-spacing: 0;
        display: inline-block;
        margin: 0px
    }
    .col-rigth-aligh .content {
        display: block;
        color: #1c355d;
    }
    .title.bold {
        display: block;
        margin: 10px 0px;
        margin-left: 5px;
        color: #1c355e;
        font-size: 16px;
    }
    .title.blue {
        color: #1c355e;
    }
    .title span {
        font-weight: normal;
        font-family: 'Roboto';
    }
    .btn.btn-red {
        width: 85% !important;
        display: inline-block;
        text-transform: capitalize;
        --border-radius: 5px !important;
    }
    .btn.btn-green {
        width: 85% !important;
        display: inline-block;
    }
    ion-radio {
        -webkit-margin-end: 10px !important;
        margin-inline-end: 10px !important;
        --ion-color-primary: #fff !important;
        --ion-color-primary-contrast: #ff0000 !important;
        --border-color: #fff;
    }
    .sec .form-control {
        border-bottom: none !important;
        font-size: 15px !important;
        display: block !important;
        --inner-border-width: 0 0 0px 0 !important;
        width: auto !important;
        float: left;
    }
}