<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title class="header-title text-center">{{PageTitle}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content no-padding>
    <!-- <form [formGroup]="addTaskForm" (ngSubmit)="onSubmit(addTaskForm.value)"> -->
    <ion-grid no-padding>
        <ion-row no-padding>
            <ion-col no-padding>
                <ion-item>
                    <ion-label position="floating">Date</ion-label>
                    <ion-datetime display-format="YYYY-MM-DD" picker-format="YYYY-MM-DD" min="{{myDate}}" [(ngModel)]="Date" placeholder="Select Date" (ionChange)="onChangeDate($event)"></ion-datetime>
                </ion-item>
            </ion-col>
            <ion-col no-padding size="2">
                <ion-item no-padding>
                    <ion-img no-padding src="../../../assets/images/calendar.png"></ion-img>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-item>
        <ion-label position="floating">Time</ion-label>
        <ion-datetime display-format="hh:mm a" picker-format="hh:mm a" [(ngModel)]="Time" placeholder="Select Time" (ionChange)="onChangeTime($event)"></ion-datetime>

    </ion-item>
    <ion-item>
        <ion-label position="floating">Select Task</ion-label>
        <ion-select [(ngModel)]="SelectTask" class="custom-select-box" interface="action-sheet" placeholder="show listings to my client">
            <ion-select-option *ngFor="let service of this.serviceList" value="{{service.ServiceID}}">
                {{service.ServiceName}}</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Client Name(Hidden)</ion-label>
        <ion-input type="text" [(ngModel)]="ClientName" placeholder="Enter name here or enter in comment below." clearInput></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Client Mobile No(Hidden)</ion-label>
        <ion-input [(ngModel)]="ClientMobileNo" placeholder="Enter mobile here or enter in comment below." type="tel" mask="000-000-0000" maxlength="12" clearInput></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Client's Email Address(Hidden)</ion-label>
        <ion-input type="text" [(ngModel)]="email" placeholder="Enter email here or enter in comment below." clearInput></ion-input>
    </ion-item>
    <ion-item>
        <!-- <ion-label position="floating">Zip code Areas of interest</ion-label> -->
        <ion-label class="zip-info" position="stacked">Zip code Areas of interest<span class="sup-span">(Add a zip and hit enter to add multiple zips)</span></ion-label>
        <!-- <ion-input  [(ngModel)]="ServiceZipCodes" clearInput></ion-input> -->
        <tag-input [(ngModel)]="zipcodes" type="number" [errorMessages]="asyncErrorMessages" [validators]="validators" [asyncValidators]="asyncValidators" [separatorKeyCodes]="[32]" [placeholder]="'Add Zip code'" [secondaryPlaceholder]="'Enter a new zip'"></tag-input>
    </ion-item>
    <!-- <ion-item >
            <ion-label position="floating">Show listing to my client.</ion-label>
            <ion-input numbersOnly type="number" [(ngModel)]="Total" clearInput></ion-input>
        </ion-item> -->

    <ion-item>
        <ion-label position="floating">Deal ($)</ion-label>
        <ion-input numbersOnly type="number" [(ngModel)]="Deal" clearInput></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Comment/Instructions(Visible to all member)</ion-label>
        <ion-textarea rows="3" type="text" [(ngModel)]="Comments" placeholder="Enter any comment here..." clearInput></ion-textarea>
    </ion-item>
    <ion-button expand="block" class="btn btn-red" type="submit" (click)="onSubmit()">
        <!-- [disabled]="this.Date == ''|| this.Time == ''|| this.SelectTask == ''|| this.ClientName == ''|| this.ClientMobileNo == ''|| this.email == ''|| this.zipcodes.length == 0 || this.Deal == ''|| this.Comments == ''" -->
        {{btnTitle}}
    </ion-button>
    <!-- </form> -->
</ion-content>