:host {
    ion-header ion-toolbar {
        padding-top: 0px !important
    }
    ion-content {
        --background: #fff;
    }
    ion-input {
        color: #505050;
        font-size: 15px;
    }
    ion-label {
        color: #505050;
        font-size: 15px;
    }
    ion-img {
        margin: 19px 0px;
        width: 20px !important;
    }
    .select-text {
        white-space: normal !important;
    }
}