<ion-content>
    <ion-grid no-padding *ngIf="allData?.length > 0" no-padding>
        <ion-row style="padding-left: 5px; padding-right: 5px;">
            <ion-col>
                <!-- $event.target.value -->
                <ion-input type="search" placeholder="Search by Zipcode" class="form-control" debounce="0" [(ngModel)]="searchTerm" (ionChange)="ionChange()" clearInput></ion-input>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-list no-padding *ngIf="taskList?.length > 0" style="margin-bottom: 30px;">
        <ion-card-content *ngFor="let task of taskList" no-padding>
            <ion-grid no-padding>
                <ion-row style="padding-left: 5px; padding-right: 5px;">
                    <ion-col no-padding size="12" (click)="taskClick(task)">
                        <!-- <ion-label class="title bold">{{task.ServiceName}}({{task.Total}})</ion-label> -->
                        <ion-label class="title bold">{{task.ServiceName}}</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row no-padding style="padding-left: 5px; padding-right: 5px;" (click)="taskClick(task)">
                    <ion-col no-padding size="3">
                        <ion-label class="title gray">Appt. Time/date:</ion-label>
                    </ion-col>
                    <ion-col no-padding size="9">
                        <ion-label class="content date">{{ task.DateTime | date:'MMM dd, hh:mm a': 'UTC' }}</ion-label>
                    </ion-col>
                </ion-row>
                <!-- <ion-grid no-padding> -->
                <ion-row no-padding style="padding-left: 5px; padding-right: 5px;" (click)="taskClick(task)">
                    <ion-col no-padding size="3">
                        <ion-label class="title gray">Zipcode :</ion-label>
                    </ion-col>
                    <ion-col no-padding size="9">
                        <ion-label class="content">{{task.ServiceZipCodes}}</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row no-padding style="padding-left: 5px; padding-right: 5px;">
                    <ion-col no-padding size="3">
                        <ion-label class="title gray">Posted by :</ion-label>
                    </ion-col>
                    <ion-col no-padding size="9">
                        <ion-label class="content">{{task.name}}</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row style="padding-left: 5px; padding-right: 5px;" (click)="taskClick(task)">
                    <ion-col no-padding size="3">
                        <ion-label class="title gray">Comments :</ion-label>
                    </ion-col>
                    <ion-col no-padding size="9">
                        <ion-label class="content">{{task.Comments}}</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row style="padding-right: 5px; margin-top: 10px !important;">
                    <ion-col size="8" no-padding>
                        <ion-label class="content-bg">${{task.Deal}} <span>Deal</span></ion-label>
                    </ion-col>
                    <ion-col size="4" class="col-rigth-aligh">
                        <ion-button class="btn btn-red" (click)="AcceptTask(task)">Accept</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-list>
    <ion-card-content no-padding class="empty-list-box" *ngIf="taskList?.length == 0">
        <ion-label class="empty-list">
            Sorry, No New Tasks Available!
        </ion-label>
    </ion-card-content>
</ion-content>