:host {
    ion-content {
        --background: #f2f7fd;
    }
    .title {
        margin-top: 0px;
        display: inline !important;
        font-size: 13px;
        padding: 0px;
        line-height: 0px;
        letter-spacing: 0px;
        font-family: 'Roboto-Bold';
        color: #505050;
        margin-left: 1px;
    }
    .content {
        font-size: 13px;
        letter-spacing: 0;
        display: inline-block;
        margin: 0px
    }
    .col-rigth-aligh .content {
        display: block;
        color: #1c355d;
    }
    .title.bold {
        //  display: block;
        display: inline !important;
        text-decoration: underline;
        // margin: 10px 0px !important;
        // margin-left: 0px !important;
        // margin-top: 15px !important;
        color: #1c355e;
        font-size: 16px;
    }
    .content.date {
        // margin-top: 8px !important;
        margin-right: 5px !important;
    }
    // span {
    //     color: #188038;
    // }
    .content-bg.amtcolor {
        color: #188038;
    }
    .content-bg {
        background: url('../../../../assets/images/amt-bg.png');
        background-repeat: no-repeat;
        background-size: contain;
        padding: 9px 10px;
        display: block;
        padding-right: 0px !important;
        padding-left: 14px !important;
        // margin-bottom: 10px;
        margin-top: 5px;
        font-size: 16px;
        // color: #1c355d;
        color: #ffffff;
        font-weight: bold;
    }
    .content-bg span {
        font-weight: normal;
    }
    .form-control {
        color: #1c355e !important;
    }
    // ion-input {
    //     background: #1c355e !important;
    //     height: 50px;
    // }
    ion-input {
        background: transparent !important;
        height: 50px;
        border: 1px solid #1c355e;
    }
}