<ion-content>
    <ion-list no-padding class="list-box" *ngIf="chatList?.length > 0">
        <ion-card-content *ngFor="let chat of chatList" (click)="chatClick(chat)">
      <ion-grid  no-padding>
        <ion-row no-padding>
          <ion-col no-padding>
            <ion-label class="title bold">David Worner</ion-label>
          </ion-col >
          <ion-col no-padding size="3">
            <ion-label class="time">04:55 PM</ion-label>
          </ion-col>
        </ion-row>
        <ion-row no-padding>
          <ion-col no-padding>
            <ion-label class="content blue">Lorem Ipsum dummy text</ion-label>
          </ion-col>
          <ion-col no-padding size="2">
            <ion-label class="msg-count">2</ion-label>
          </ion-col>
        </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-list>
    <ion-card-content  no-padding class="empty-list-box" *ngIf="chatList?.length == 0">
        <ion-label class="empty-list" >
            Chat Users Not Available!
        </ion-label>
    </ion-card-content>
  </ion-content>
  