:host{
    ion-card-content {
        height: auto;
        background-color: #ffffff;
        display: block;
        padding: 15px 0 10px 0px !important;
        margin: 0px 10px !important;
        border: none !important;    
        border-bottom: 1px solid #c6ccd6 !important;
    }
    .title.bold{
        color: #505050;
        margin-top: 6px;
        letter-spacing: 0px;
        font-size: 14px;
        margin-bottom: 0px !important
    }
    .time{
        color: #1c365b;
        font-size: 14px;
        text-align: right !important;
    }
    .msg-count{
        background: #1c355d;
        color: white;
        text-align: center;
        font-size: 13px;
        margin: 0 auto;
        height: 25px !important;
        width: 25px !important;
        border-radius: 50%;
        display: inline-block;
        line-height: 25px;
    }
    .content {
        font-size: 14px;
        letter-spacing: 0;
        margin-top: 0px;
        color: #60718f;
    }
    ion-content {
        --background: #f2f7fd;
    }

}