<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title class="header-title text-center">My Agents</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content no-padding>
    <ion-list>
        <ion-card-content *ngFor="let agent of agentList" no-padding>
            <ion-grid>
                <ion-row class="padding-box">
                    <ion-col size="4" class="padding-box">
                        <ion-label class="title">Agent name</ion-label>
                    </ion-col>
                    <ion-col size="8" class="padding-box">
                        <ion-label class="content" (click)="viewProfile(agent)">{{agent.name}}</ion-label>
                    </ion-col>
                </ion-row>

                <ion-row class="padding-box">
                    <ion-col size="4" class="padding-box">
                        <ion-label class="title">Licence No.</ion-label>
                    </ion-col>
                    <ion-col size="8" class="padding-box">
                        <ion-label class="content"> {{agent.license_number}} </ion-label>
                    </ion-col>
                </ion-row>

                <ion-row class="padding-box">
                    <ion-col size="4" class="padding-box" *ngIf="agent.AgentStatus !=0">
                        <ion-button class="btn btn-red" (click)="action(agent,2)">Remove</ion-button>
                    </ion-col>
                    <ion-col size="4" class="padding-box" *ngIf="agent.AgentStatus == 0">
                        <ion-button class="btn btn-blue" (click)="action(agent,1)">Accept</ion-button>
                    </ion-col>
                    <ion-col size="4" class="padding-box" (click)="action(agent,2)" *ngIf="agent.AgentStatus == 0">
                        <ion-button class="btn btn-red">Decline</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>


    </ion-list>
    <ion-card-content no-padding class="empty-list-box" *ngIf="agentList?.length == 0">
        <ion-label class="empty-list">
            Agents Not Available!
        </ion-label>
    </ion-card-content>

</ion-content>