:host {
    ion-header ion-toolbar {
        padding-top: 0px !important
    }
    ion-content {
        --background: #ffffff;
    }
    .title {
        font-family: 'Roboto-Bold';
        margin: 0px;
        font-size: 13px;
        color: #010101;
        line-height: normal;
    }
    .content {
        margin: 0px;
        font-size: 13px;
        color: #010101;
        line-height: normal;
    }
    .value {
        font-size: 13px;
        color: #505050;
    }
    ion-textarea {
        padding-top: 0px;
    }
    .btn.btn-red {
        max-width: 115px;
        width: 100%;
        --border-radius: 5px !important;
        font-size: 14px;
        text-transform: capitalize;
        letter-spacing: 0px !important;
        margin: 10px 0px 2px -2px !important;
    }
    .btn.btn-blue {
        max-width: 115px;
        width: 100%;
        font-size: 14px;
        text-transform: capitalize;
        letter-spacing: 0px !important;
        margin: 10px 0px 2px -2px !important;
    }
    .padding-box {
        padding: 1px 5px !important;
    }
}