<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title class="header-title ml-10">{{from}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content #content [scrollEvents]="true" (ionScroll)="scrollFunction($event)" no-padding style="position: relative;">
    <ion-grid no-padding class="chat-block">
        <ion-row class="padding-box" *ngFor="let message of messages">
            <ion-col no-padding size="9" *ngIf="message.SenderId !== this.commonService.getUserId()">
                <div class="msg-box mt-15">
                    <ion-label class="msg">{{ message.Message }} <span class="time">{{ message.UpdatedAt | date:'MM/dd/yy hh:mm a' }}</span></ion-label>
                </div>
            </ion-col>
            <ion-col offset="3" size="9" *ngIf="message.SenderId === this.commonService.getUserId()" no-padding>
                <div class="replay-box mt-15">
                    <ion-label class="msg">{{ message.Message }} <span class="time">{{ message.UpdatedAt | date:'MM/dd/yy hh:mm a' }}</span></ion-label>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
<ion-footer>
    <ion-grid no-padding class="message-input-block">
        <ion-row *ngIf="this.typing">
            <ion-col>
                <ion-label class="message-typing">Typing...</ion-label>
            </ion-col>
        </ion-row>
        <ion-row class="message-input-box">
            <!-- <ion-col size="1.5" no-padding>
                        <ion-input class="file" type="file"></ion-input>
                        <ion-img class="input-icon" src="../../../../assets/images/gallary.png"></ion-img>
                    </ion-col> -->
            <ion-col size="10" no-padding>
                <ion-input #inMsg placeholder="Type a Message" [(ngModel)]="message" (input)='onChangeTime($event.target.value)'></ion-input>
            </ion-col>
            <ion-col size="2" no-padding>
                <ion-button class="btn-send" (click)="sendMessage();" [disabled]="message === ''">
                    <ion-img class="input-icon" src="../../../../assets/images/send.png"></ion-img>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>