// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.
.alertConfirm {
    background-color: transparent;
    --max-width: 80% !important;
    // color: red;
    // button {
    //     color: red;
    // }
    .alert-title {
        text-align: center;
    }
    .alert-wrapper {
        border-radius: 10px !important;
    }
    .alert-button {
        text-align: center;
        width: 50% !important;
    }
    .alert-button-group {
        flex-wrap: nowrap;
    }
    .alert-button-inner {
        justify-content: center;
    }
}