<ion-content>

    <ion-card-content no-padding class="empty-list-box">
        <ion-label class="empty-list">
            Click the <span (click)="addTask()">[+]</span> button to add a Task or click here to
            <span style="text-decoration: underline;" (click)="openPage()">Sell Your Leads</span></ion-label>
    </ion-card-content>

</ion-content>