:host {
    ion-label {
        max-width: 100% !important;
        color: #234781;
        padding-left: 5px;
    }
    ion-input {
        color: #234781;
        padding: 0 15px !important;
    }
    ion-list {
        background: transparent;
    }
    ion-input {
        font-size: 14px;
    }
    ion-item {
        border: 1px solid #234781;
    }
    ion-label.bold {
        padding: 0px !important;
        font-size: 16px !important;
        display: block !important;
        margin: 10px 0px !important;
    }
    .profile-img-box {
        margin-bottom: 20px !important
    }
    ion-checkbox {
        -webkit-margin-end: 10px !important;
        margin-inline-end: 10px !important;
        // --ion-color-primary: #fff !important;
        --ion-color-primary: #234781 !important;
        --ion-color-primary-contrast: #ff0000 !important;
        // --border-color: #fff;
        --border-color: #234781;
    }
    .custom-checkbox .form-control {
        border-bottom: none !important;
        font-size: 15px !important;
        display: block !important;
        --inner-border-width: 0 0 0px 0 !important;
        width: 33.33% !important;
        float: left;
    }
    .sec .form-control {
        border-bottom: none !important;
        font-size: 15px !important;
        display: block !important;
        --inner-border-width: 0 0 0px 0 !important;
        width: auto !important;
        float: left;
    }
    .clickEnableCls {
        pointer-events: visible !important;
    }
    .form-control {
        --ion-background-color: rgba(255, 255, 255, 0.5);
        color: #234781;
        font-size: 18px;
        font-family: 'Roboto';
        width: 100% !important;
        display: block !important;
        border: 1px solid #234781;
    }
    .sup-span {
        font-size: 14px !important;
    }
    .botton-top {
        border-top: none !important;
        // border-left: 1px solid #234781;
        // border-right: 1px solid #234781;
        // border-bottom: 1px solid #234781;
    }
    .botton-bottom {
        // border-top: 1px solid #234781 !important;
        // border-left: 1px solid #234781 !important;
        // border-right: 1px solid #234781 !important;
        border-bottom: none !important;
    }
    .margin-bottom {
        margin-top: -10px !important;
    }
    .form-control ion-label {
        // border-bottom: 1px solid #234781 !important;
        padding: 0 10px !important;
    }
    .btn.btn-blue {
        width: 100%;
        font-size: 20px;
        --background: #1c355e;
        color: white !important;
        text-transform: uppercase;
        font-family: 'Roboto-Bold';
        --border-radius: 50px !important;
        overflow: hidden;
        height: 50px;
    }
    .content-box {
        width: 100%;
        background: rgba(255, 255, 255, 0.5) !important;
        border-radius: 50px !important;
        height: 50px !important;
        padding: 12px !important;
    }
    .back-img {
        width: 60px !important;
        height: 60px !important;
        background-color: #234781 !important;
        padding: 15px;
        border-radius: 50% !important;
        line-height: normal;
        margin: 20px auto 0 auto;
        display: block;
    }
    .welcome-content {
        display: block;
        font-size: 17px;
        letter-spacing: 2px;
        margin: 0px 0px 0px 20px;
    }
    .welcome-title {
        display: block;
        font-size: 20px;
        padding: 0px;
        line-height: 0px;
        letter-spacing: 2px;
        font-family: 'Roboto-Bold';
        margin: 20px 0px 15px 20px;
    }
    .custom-checkbox {
        border: 1px solid #234781 !important;
    }
    .custom-checkbox .form-control {
        border: none !important;
    }
    ion-item.form-control.border-0 {
        border: none !important;
    }
    .custom-checkbox.w-100 .form-control {
        width: 100% !important;
        float: none !important;
    }
    ion-list-header {
        background: transparent !important;
        padding: 0px !important;
    }
    ion-radio-group.radio_btn_group ion-item {
        border: none !important;
        float: left !important;
        width: 50% !important;
        --ion-background-color: rgba(255, 255, 255, 0.5) !important;
        // background: rgba(255, 255, 255, 0.5) !important;
        color: #234781;
        font-size: 18px;
        font-family: 'Roboto';
    }
    ion-radio-group.radio_btn_group {
        border: 1px solid #234781 !important;
        width: 100% !important;
        display: block !important;
    }
    ion-radio-group.radio_btn_group::after {
        content: "";
        display: block;
        clear: both;
    }
    .business-card-img {
        margin: 5px !important;
        width: 50px !important;
        height: auto !important;
        background: #ddd !important;
    }
    .item-interactive-disabled:not(.item-multiple-inputs) {
        opacity: 1.0 !important;
    }
    /deep/ .ng2-tag-input__text-input {
        background-color: transparent !important;
    }
}