<ion-content>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)" style="padding: 10px 6px;">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-label class="welcome-title">Sign Up</ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="mb-20">
                    <ion-label class="welcome-content" *ngIf="this.signuptype =='Realtor'">Sign Up "as a REALTOR®"
                    </ion-label>
                    <ion-label class="welcome-content" *ngIf="this.signuptype !='Realtor'">Sign Up "as a {{this.signuptype}}"
                    </ion-label>
                </ion-col>
            </ion-row>


            <ion-row class="profile-img-block">
                <ion-col class="profile-img-box">
                    <div class="profile_image">
                        <ion-img class="pro-img" id="profile_image" *ngIf="!this.image1" src="../../../assets/images/avtar.png"></ion-img>
                        <ion-img class="pro-img" id="profile_image" *ngIf="this.image1" src="data:image/png;base64,{{this.image1}}"></ion-img>
                    </div>
                    <input type="hidden" formControlName="userimage">
                    <label for="fileInput" icon-only ion-button class="icons-btn">
                        <ion-icon name="camera" (click)="selectImage(1)" class="icon"></ion-icon>
                    </label>
                </ion-col>
            </ion-row>

            <ion-row *ngIf="this.signuptype !='Realtor'" class="mb-10">
                <ion-col>
                    <ion-list-header>
                        {{this.signuptype}} Type
                    </ion-list-header>

                    <ion-radio-group class="radio_btn_group" (ionSelect)="selectType($event)">

                        <ion-item *ngIf="this.signuptype =='Broker'">
                            <ion-label>Owner</ion-label>
                            <ion-radio checked="true" value="3"></ion-radio>
                        </ion-item>

                        <ion-item *ngIf="this.signuptype =='Broker'">
                            <ion-label>Member</ion-label>
                            <ion-radio value="4"></ion-radio>
                        </ion-item>

                        <ion-item *ngIf="this.signuptype =='Team'">
                            <ion-label>Owner</ion-label>
                            <ion-radio checked="true" value="5"></ion-radio>
                        </ion-item>

                        <ion-item *ngIf="this.signuptype =='Team'">
                            <ion-label>Member</ion-label>
                            <ion-radio value="6"></ion-radio>
                        </ion-item>

                    </ion-radio-group>
                </ion-col>
            </ion-row>


            <ion-row>
                <ion-col>
                    <ion-item no-padding class="form-control">
                        <ion-label position="floating" *ngIf="this.signuptype =='Realtor'">Agent Name</ion-label>
                        <ion-label position="floating" *ngIf="this.signuptype !='Realtor'">{{this.signuptype}} Name
                        </ion-label>
                        <ion-input type="text" formControlName="name"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row *ngIf="this.regesterType =='4' || this.regesterType =='6' ">
                <ion-col>
                    <ion-item no-padding class="form-control">
                        <ion-label position="floating">{{this.signuptype}} Code</ion-label>
                        <!-- <ion-select formControlName="selectedTeam" class="custom-select-box" interface="action-sheet" placeholder="Select task">
                                <ion-select-option *ngFor="let team of this.teamList" value="{{team.id}}">
                                    {{team.teamname}}</ion-select-option>
                            </ion-select> -->
                        <ion-input type="text" formControlName="selectedTeam"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-item no-padding class="form-control">
                        <ion-label position="floating">Mobile No.</ion-label>
                        <ion-input numbersOnly type="tel" maxlength="10" formControlName="mobile_no"></ion-input>
                        <!-- readOnly -->
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item no-padding class="form-control">
                        <ion-label position="floating">Email</ion-label>
                        <ion-input type="text" formControlName="email"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item no-padding class="form-control">
                        <ion-label position="floating">Password</ion-label>
                        <ion-input type="password" formControlName="password"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item no-padding class="form-control">
                        <ion-label position="floating">Confirm Password</ion-label>
                        <ion-input type="password" formControlName="cpwd"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item no-padding class="form-control">
                        <ion-label position="floating">License Number</ion-label>
                        <ion-input type="text" formControlName="license_number"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item no-padding class="form-control">
                        <ion-label position="floating">Broker's Office Name.</ion-label>
                        <ion-input type="text" formControlName="brokeroffice_name"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item no-padding class="form-control botton-bottom">
                        <ion-label position="floating">Enter NAR ID #</ion-label>
                        <ion-input type="text" formControlName="nardsid"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="margin-bottom">
                    <ion-item no-padding class="form-control botton-top">
                        <ion-label class="clickEnableCls" stacked (click)="labelClick($event,-1)" [innerHTML]="htmlString"></ion-label>
                        <ion-input></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>


            <ion-row>
                <ion-col>
                    <ion-item no-padding class="form-control">
                        <ion-label position="floating">About Me</ion-label>
                        <ion-input type="text" formControlName="about"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-item no-padding class="form-control">
                        <ion-label position="floating">Description Of Car <span class="sup-span">(For safety
                                purposes)</span></ion-label>
                        <ion-input type="text" formControlName="desvehiclesafety"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-item no-padding class="form-control">
                        <ion-label *ngIf="this.regesterType =='3' || this.regesterType =='5' " position="floating">Office Address</ion-label>
                        <ion-label *ngIf="this.regesterType =='2' || this.regesterType =='4' || this.regesterType =='6'" position="floating">Street Address</ion-label>
                        <ion-input type="text" formControlName="street_address"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <!-- <ion-row>
                <ion-col>
                    <ion-item no-padding class="form-control">
                        <ion-label position="stacked">State</ion-label>
                        <ion-select data-show-subtext="true" data-live-search="true" style="margin: 10px;" (ionChange)="statesChange($event,state)">
                            <ion-select-option *ngFor='let state of states' Value="state.StateName">{{ state.StateName }}</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item no-padding class="form-control">
                        <ion-label position="stacked">City</ion-label>
                        <ion-select style="margin: 10px;" (ionChange)="cityChange($event,city)">
                            <ion-select-option *ngFor='let city of cities' Value="city.CityName">{{ city.CityName }}</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row> -->
            <!-- <ion-row>
                <ion-col>
                    <ion-item no-padding class="form-control">
                        <ion-label position="stacked">State</ion-label>
                        <app-select-city-state [stateList]="states"></app-select-city-state>
                    </ion-item>
                </ion-col>
            </ion-row> -->
            <ion-row>
                <ion-col>
                    <ion-item no-padding class="form-control">
                        <ion-label position="stacked">State</ion-label>
                        <!-- <ionic-selectable placeholder="Select State" searchPlaceholder="Enter state name" [items]="states" itemValueField="StateID" [(ngModel)]="state1" [ngModelOptions]="{standalone: true}" itemTextField="StateName" [canSearch]="true" [canClear]="true" (onChange)="stateSelected($event)"></ionic-selectable> -->

                        <ionic-selectable #stateComponent placeholder="Select State" searchPlaceholder="Enter state name" [items]="states" itemValueField="StateID" [(ngModel)]="state1" [ngModelOptions]="{standalone: true}" itemTextField="StateName" [canSearch]="true" [searchFailText]="'Type to search state .'"
                            [canClear]="true" (onSearch)="searchState($event)">
                        </ionic-selectable>

                    </ion-item>
                </ion-col>
                <ion-col *ngIf="this.state1">
                    <ion-item no-padding class="form-control">
                        <ion-label position="stacked">City</ion-label>
                        <!-- <ionic-selectable placeholder="Select City" searchPlaceholder="Enter city name" [items]="cities" itemValueField="CityID" [(ngModel)]="city1" [ngModelOptions]="{standalone: true}" itemTextField="CityName" [canSearch]="true" [canClear]="true"></ionic-selectable> -->

                        <ionic-selectable #cityComponent placeholder="Select City" searchPlaceholder="Enter city name" [items]="cities" itemValueField="CityID" [(ngModel)]="city1" [ngModelOptions]="{standalone: true}" [searchFailText]="'Type to search city.'" itemTextField="CityName"
                            [canSearch]="true" [canClear]="true" (onSearch)="searchCity($event)">
                        </ionic-selectable>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>

                    <ion-item no-padding class="form-control">
                        <ion-label position="floating">Zip Code</ion-label>
                        <ion-input formControlName="st_zip" type="tel" maxlength="5"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item no-padding class="form-control">
                        <ion-label class="zip-info" position="stacked">Zip code Areas of interest<span class="sup-span">(Add a zip and hit enter to add multiple zips)</span></ion-label>
                        <!-- <ion-input type="number" pattern="[0-9]*" formControlName="ZipCode"></ion-input> -->
                        <tag-input class="tag-input" [(ngModel)]="zipcodes" formControlName="zipcodes" type="number" [errorMessages]="asyncErrorMessages" [validators]="validators" [asyncValidators]="asyncValidators" [separatorKeyCodes]="[32]" [placeholder]="'Add Zip code'" [secondaryPlaceholder]="'Enter a new zip'"></tag-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row *ngIf="this.regesterType =='1'">
                <ion-col>
                    <ion-label class="bold">Notify me by</ion-label>
                    <ion-list no-padding class="custom-checkbox">
                        <ion-item no-padding class="form-control">
                            <!-- *ngFor="let entry of selectNotify" -->
                            <ion-label>Text</ion-label>
                            <ion-checkbox slot="start" formControlName="notify_text"></ion-checkbox>
                        </ion-item>
                        <ion-item no-padding class="form-control">
                            <ion-label>Email</ion-label>
                            <ion-checkbox slot="start" formControlName="notify_email"></ion-checkbox>
                        </ion-item>
                        <ion-item no-padding class="form-control">
                            <ion-label>Phone</ion-label>
                            <ion-checkbox slot="start" formControlName="notify_phone"></ion-checkbox>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-item no-padding class="form-control">
                        <ion-label>Business Card</ion-label>
                        <ion-input type="hidden" formControlName="business_card"></ion-input>
                        <ion-img class="business-card-img" *ngIf="!this.image2" src="../../../assets/images/no_image.png"></ion-img>
                        <ion-img class="business-card-img" *ngIf="this.image2" src="data:image/png;base64,{{this.image2}}"></ion-img>
                        <ion-button (click)=selectImage(2)> Pick Image</ion-button>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <!-- <ion-label class="bold">Business Cord</ion-label> -->
                    <ion-list no-padding class="custom-checkbox w-100">
                        <ion-item no-padding class="form-control">
                            <!-- *ngFor="let entry of selectNotify" -->
                            <ion-label class="open-models"><a href="javascript:void(0);" (click)="labelClick($event,0)">Broker Payment Authorization and Participation</a>
                            </ion-label>
                            <ion-checkbox slot="start" [disabled]="!ethicalcodeofconduct" [(ngModel)]="ethicalcodeofconduct" formControlName="ethicalcodeofconduct">
                            </ion-checkbox>
                        </ion-item>
                        <ion-item no-padding class="form-control">
                            <ion-label class="open-models"><a href="javascript:void(0);" (click)="labelClick($event,1)">Non Compete Agreement</a></ion-label>
                            <ion-checkbox slot="start" [disabled]="!nonecompate" [(ngModel)]="nonecompate" formControlName="nonecompate"></ion-checkbox>
                        </ion-item>
                        <ion-item no-padding class="form-control">
                            <ion-label class="open-models"><a href="javascript:void(0);" (click)="labelClick($event,2)">Safety Tips</a></ion-label>
                            <ion-checkbox slot="start" [disabled]="!saftey" [(ngModel)]="saftey" formControlName="saftey"></ion-checkbox>
                        </ion-item>
                        <ion-item no-padding class="form-control">
                            <ion-label class="open-models"><a href="javascript:void(0);" (click)="labelClick($event,3)">Electronic Signature Consent</a></ion-label>
                            <ion-checkbox slot="start" [disabled]="!econsert" [(ngModel)]="econsert" formControlName="econsert"></ion-checkbox>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-list no-padding class="custom-checkbox w-100">
                        <ion-item no-padding class="form-control">
                            <ion-label class="open-models">I accept the <a href="javascript:void(0);" (click)="labelClick($event,4)">Terms & Conditions</a></ion-label>
                            <ion-checkbox slot="start" value="" [(ngModel)]="terms" formControlName="terms">
                            </ion-checkbox>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
            <ion-row class="container mb-10">
                <ion-col>
                    <ion-button class="btn btn-blue" type="submit" [disabled]="!registerForm?.valid">
                        REGISTER
                    </ion-button>
                </ion-col>
            </ion-row>
            <ion-label class="link-content">To Enable Registration fill in all details.</ion-label>
            <ion-row class="mt-10">
                <ion-col class="content-box">
                    <ion-label class="link-content">Already Have an Account?</ion-label>
                    <ion-label class="sublink" (click)="goLogin()"> Login</ion-label>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-img class="back-img" (click)="clickBack()" src="../../../assets/images/Back.png"></ion-img>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>