<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title class="header-title text-center">Contact Us</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>
        <ion-row>
            <ion-col size="4.5">
                <ion-label>Company name</ion-label>
            </ion-col>
            <ion-col size="7.5">
                <ion-label>AgentAway.com</ion-label>
            </ion-col>
        </ion-row>
        <!-- <ion-row>
            <ion-col size="4.5">
                <ion-label>Addresss</ion-label>
            </ion-col>
            <ion-col size="7.5">
                <ion-label> : Attn: Copyright Agent 1377 NW 40 th  Ave Lauderhill, FL 33313</ion-label>
            </ion-col>
        </ion-row> -->
        <ion-row>
            <ion-col size="4.5">
                <ion-label>Email </ion-label>
            </ion-col>
            <ion-col size="7.5">
                <!-- <ion-label> : Info@AgentAway.com</ion-label> -->
                <ion-label><a href="mailto:Info@AgentAway.com">Info@AgentAway.com</a></ion-label>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="4.5">
                <ion-label>Phone </ion-label>
            </ion-col>
            <ion-col size="7.5">
                <!-- <ion-label> : +1 99 999 99999</ion-label> -->
                <ion-label><a href="tel:+1 99 999 99999" class="button button-positive">+1 99 999 99999</a></ion-label>

            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-list-header>
        <ion-label>Send your Question or comment </ion-label>
    </ion-list-header>
    <form [formGroup]="queryForm" (ngSubmit)="onSubmit(queryForm.value)" style="padding: 10px 6px;">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-item no-padding class="form-control">
                        <ion-label position="floating">User Email</ion-label>
                        <ion-input type="text" formControlName="Email"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item no-padding class="form-control">
                        <ion-label position="floating">User contact no</ion-label>
                        <ion-input numbersOnly type="tel" maxlength="10" formControlName="ContactNo"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item no-padding class="form-control">
                        <ion-label position="floating">Question/comment</ion-label>
                        <ion-textarea rows="3" type="text" formControlName="Query" placeholder="Enter question/comment here..." clearInput></ion-textarea>

                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row class="container mb-10">
                <ion-col>
                    <ion-button expand="block" class="btn btn-blue" type="submit">
                        Submit
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>