:host {
    ion-header ion-toolbar {
        padding-top: 0px !important
    }
    ion-content {
        --background: #ffffff;
    }
    .title {
        font-family: 'Roboto-Bold';
        margin: 0px;
        font-size: 13px;
        color: #010101;
        line-height: normal;
    }
    .content {
        margin: 0px;
        font-size: 13px;
        color: #010101;
        line-height: normal;
    }
    .value {
        font-size: 13px;
        color: #505050;
    }
    .form-control {
        color: #505050 !important;
    }
}