<ion-content>
    <ion-grid class="top-img-logo">

        <ion-row>
            <ion-col class="text-left">
                <ion-img src="../../../assets/images/logo.png"></ion-img>
            </ion-col>
        </ion-row>


    </ion-grid>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" class="form">

        <ion-grid>

            <ion-row>
                <ion-col class="text-left">
                    <ion-label class="welcome-title">Forgot your password?.</ion-label>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col class="text-left">
                    <ion-label class="welcome-content">Enter your registered Mobile No.</ion-label>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-item no-padding class="form-control border-bottom">
                        <ion-label position="floating">Mobile no.</ion-label>
                        <ion-input type="tel" formControlName="mobile_no"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>


            <ion-row class="container mb-10">
                <ion-col>
                    <ion-button class="btn btn-blue" type="submit" [disabled]="!loginForm?.valid">
                        Send
                    </ion-button>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-img class="back-img" (click)="clickBack()" src="../../../assets/images/Back.png"></ion-img>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>