:host {
    ion-label {
        color: #234781;
    }
    ion-input {
        color: #234781;
        padding: 0 15px !important;
    }
    .welcome-title {
        line-height: normal !important;
    }
    .form-control {
        --ion-background-color: rgba(255, 255, 255, 0.5);
        color: #234781;
        font-size: 18px;
        font-family: 'Roboto';
        width: 100% !important;
        display: block !important;
        border: 1px solid #234781;
    }
    .form-control ion-label {
        // border-bottom: 1px solid #234781 !important;
        padding: 0 15px !important;
    }
    .btn.btn-blue {
        width: 100%;
        font-size: 20px;
        --background: #1c355e;
        color: white !important;
        text-transform: uppercase;
        font-family: 'Roboto-Bold';
        --border-radius: 50px !important;
        overflow: hidden;
        height: 50px;
    }
    .back-img {
        width: 60px !important;
        height: 60px !important;
        background-color: #234781 !important;
        padding: 15px;
        border-radius: 50% !important;
        line-height: normal;
        margin: 20px auto 0 auto;
        display: block;
    }
}