<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title class="header-title text-center">Task Details</ion-title>

        <ion-img class="menu-img" *ngIf="show" (click)="openChat()" src="../../../../assets/images/chat.png"></ion-img>
        <ion-label class="menu-img count" *ngIf="show && msgCount != '0'" (click)="openChat()">{{msgCount}}</ion-label>
        <ion-img class="menu-img" *ngIf="task.AcceptedBy =='0' && from =='posted' && task.IsDelete == '0'" (click)="goToEdit()" src="../../../../assets/images/edit_button.png"></ion-img>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card-content no-padding>
        <ion-grid no-padding>
            <ion-row style="padding-left: 5px; padding-right: 5px;">
                <ion-col no-padding size="12" style="padding-top: 5px;">
                    <!-- <ion-label class="title bold">{{task.ServiceName}}({{task.Total}})</ion-label> -->
                    <ion-label class="title bold">{{task.ServiceName}}</ion-label>
                </ion-col>

            </ion-row>
            <ion-row style="padding-left: 5px; padding-right: 5px;">
                <ion-col no-padding size="3.5">
                    <ion-label class="title gray">Appointment Date:</ion-label>
                </ion-col>
                <ion-col no-padding size="8.5">
                    <ion-label class="content date">{{ task.DateTime | date:'MMM dd, hh:mm a': 'UTC' }} </ion-label>
                </ion-col>
            </ion-row>

            <ion-row style="padding-left: 5px; padding-right: 5px;">
                <ion-col no-padding size="3">
                    <ion-label class="title gray">Zipcode:</ion-label>
                </ion-col>
                <ion-col no-padding size="9">
                    <ion-label class="content">{{task.ServiceZipCodes}}</ion-label>
                </ion-col>
            </ion-row>
            <ion-row style="padding-left: 5px; padding-right: 5px;">
                <ion-col no-padding>
                    <ion-label class="title blue">${{task.Deal}} <span>Deal</span></ion-label>
                </ion-col>
            </ion-row>

            <ion-row style="padding-left: 5px; padding-right: 5px;" *ngIf="from == 'accept' ">
                <ion-col no-padding size="3">
                    <ion-label class="title gray">Posted By:</ion-label>
                </ion-col>
                <ion-col no-padding size="9">
                    <ion-label class="content">{{task.name}} </ion-label>
                </ion-col>
            </ion-row>

            <!-- <ion-row *ngIf="task.Conform != undefine && task.Conform != 0" style="padding-left: 5px; padding-right: 5px;" > -->

            <ion-row *ngIf="from =='home'" style="padding-left: 5px; padding-right: 5px;">
                <ion-col no-padding size="3">
                    <ion-label class="title gray">Name:</ion-label>
                </ion-col>
                <ion-col no-padding size="9">
                    <ion-label class="content">{{task.name}} </ion-label>
                </ion-col>
            </ion-row>


            <ion-row *ngIf="from !='home' && task.Conform != 0" style="padding-left: 5px; padding-right: 5px;">
                <ion-col no-padding size="3">
                    <ion-label class="title gray">Client Name:</ion-label>
                </ion-col>
                <!-- *ngIf="from != 'accept' " -->
                <ion-col no-padding size="9">
                    <ion-label class="content">{{task.ClientName}}</ion-label>
                </ion-col>
                <!-- <ion-col no-padding size="9" *ngIf="from == 'accept' ">
                    <ion-label class="content">{{task.name}} </ion-label>
                </ion-col> -->
            </ion-row>
            <ion-row *ngIf="from !='home' && task.Conform != 0" style="padding-left: 5px; padding-right: 5px;">
                <ion-col no-padding size="3">
                    <ion-label class="title gray">Client Email:</ion-label>
                </ion-col>
                <!-- *ngIf="from != 'accept' " -->
                <ion-col no-padding size="9">
                    <!-- <ion-label class="content">{{task.ClientEmail}}</ion-label> -->
                    <ion-label class="content"><a href="mailto:{{task.ClientEmail}}" class="button button-positive">{{task.ClientEmail}}</a></ion-label>
                </ion-col>
                <!-- <ion-col no-padding size="9" *ngIf="from == 'accept' ">
                    <ion-label class="content">{{task.name}} </ion-label>
                </ion-col> -->
            </ion-row>
            <!-- <ion-row *ngIf="task.Conform != undefine && task.Conform != 0" style="padding-left: 5px; padding-right: 5px;"> -->
            <ion-row *ngIf="from !='home' && task.Conform != 0" style="padding-left: 5px; padding-right: 5px;">
                <ion-col no-padding size="3">
                    <ion-label class="title gray">Client # :</ion-label>
                </ion-col>
                <!-- *ngIf="from != 'accept' " -->
                <ion-col no-padding size="9">
                    <!-- <ion-label class="content">{{task.ClientMobileNo}}</ion-label> -->
                    <ion-label class="content"><a href="tel:{{task.ClientMobileNo}}" class="button button-positive">{{task.ClientMobileNo}}</a></ion-label>

                </ion-col>
                <!-- <ion-col no-padding size="9" *ngIf="from == 'accept' ">
                    <ion-label class="content">{{task.mobile_no}}</ion-label>
                </ion-col> -->
            </ion-row>

            <ion-row style="padding-left: 5px; padding-right: 5px;">
                <ion-col no-padding size="3">
                    <ion-label class="title gray">Comments:</ion-label>
                </ion-col>
                <ion-col no-padding size="9">
                    <ion-label class="content">{{task.Comments}}</ion-label>
                </ion-col>
            </ion-row>

            <ion-row *ngIf="from !='home'" style="padding-left: 5px; padding-right: 5px;">
                <ion-col no-padding size="3">
                    <ion-label class="title gray">Status:</ion-label>
                </ion-col>
                <ion-col no-padding size="9">

                    <ion-label *ngIf="task.AcceptedBy!='0' && task.Conform == '0' && from =='posted'" class="content">
                        Accepted By {{task.name}} </ion-label>
                    <!-- <ion-label *ngIf="task.AcceptedBy!='0' && task.Conform == '0' && from =='posted'" class="content">Accepted </ion-label> -->
                    <ion-label *ngIf="task.AcceptedBy!='0' && task.Conform != '0' && task.Agree == '0'" class="content taskinprogress">
                        Task In Progress </ion-label>
                    <ion-label *ngIf="task.AcceptedBy=='0' && from=='posted'" class="content posted">Posted </ion-label>
                    <ion-label *ngIf="task.AcceptedBy=='0' && from=='posted' && task.IsDelete == '1'" class="content deleted">Deleted </ion-label>
                    <ion-label *ngIf="task.AcceptedBy!='0' && task.Agree != 0 && task.Conform !='0' && from=='posted'" class="content completed">Completed {{ task.UpdateDate | date:'MM/dd/yyyy': 'UTC' }}</ion-label>
                    <!-- <ion-label *ngIf="task.Conform != '0'  && task.Complete == '0'" class="content">Completed</ion-label> -->

                    <ion-label *ngIf="task.Conform != '0' && task.Agree == '1' && from=='accept'" class="content pending">
                        Pending Verification</ion-label>
                    <ion-label *ngIf="task.Agree == '2'  && from=='accept'" class="content closed">Closed {{ task.UpdateDate | date:'MM/dd/yyyy': 'UTC' }}</ion-label>
                    <ion-label *ngIf="task.Agree == '3'  && from=='accept'" class="content rejeced">Rejecred By Agent</ion-label>
                    <ion-label *ngIf="task.Conform == '0' && task.Agree == '0' && task.Complete == '0'  && from=='accept'" class="content pending">Pending Acceptance</ion-label>

                </ion-col>

            </ion-row>
            <ion-row *ngIf="from =='posted' && task.AcceptedBy!='0'" style="padding-left: 5px; padding-right: 5px;">
                <ion-col no-padding size="3">
                    <ion-label class="title gray">Agent Profile:</ion-label>
                </ion-col>
                <ion-col no-padding size="9">
                    <ion-label class="content">{{task.name}}
                        <span class="actions-profile" (click)="viewProfile(task.AcceptedBy)">(ViewProfile)</span>
                        <!-- <span class="actions-profile" (click)="viewProfile(page=='pay'?task.CreatedBy:task.AcceptedBy)">(ViewProfile)</span>  -->
                    </ion-label>
                </ion-col>

            </ion-row>
            <ion-row *ngIf="from =='accept' " style="padding-left: 5px; padding-right: 5px;">
                <ion-col no-padding size="3">
                    <ion-label class="title gray">Agent Profile:</ion-label>
                </ion-col>
                <ion-col no-padding size="9">
                    <!-- task.Conform == '1' && task.Complete == '0' && task.Agree == '0' && -->
                    <ion-label class="content">{{task.name}}
                        <span class="actions-profile" (click)="viewProfile(task.CreatedBy)">(View Profile)</span>
                        <!-- <span class="actions-profile" (click)="viewProfile(page=='pay'?task.AcceptedBy:task.CreatedBy)">(View Profile)</span> -->
                    </ion-label>
                </ion-col>

            </ion-row>
            <ion-row *ngIf="from =='posted'" style="padding-left: 5px; padding-right: 5px; justify-content: center;
            margin: 10px 0px;">
                <ion-col no-padding size="4" *ngIf="task.AcceptedBy=='0' && from=='posted' && task.IsDelete == '0'">
                    <ion-button class="btn btn-red" (click)="AcceptTask(task,0)">Cancel</ion-button>
                </ion-col>

                <ion-col no-padding size="4" *ngIf="task.AcceptedBy!='0' && task.Agree == 0 && task.Conform == 0">
                    <ion-button (click)="ConfirmTask(task,1)" class="btn btn-green">Confirm</ion-button>
                </ion-col>
                <ion-col no-padding size="4" *ngIf="task.AcceptedBy!='0' && task.Agree == 0 && task.Conform == 0">
                    <ion-button (click)="ConfirmTask(task,0)" class="btn btn-red">Deny</ion-button>
                </ion-col>
                <ion-col no-padding size="4" *ngIf="task.AcceptedBy!='0' && task.Agree == 1 && task.Conform !=0">
                    <ion-button (click)="AgreeTask(task,2)" class="btn btn-green">Agree</ion-button>
                </ion-col>
                <ion-col no-padding size="4" *ngIf="task.AcceptedBy!='0' && task.Agree == 1 && task.Conform !=0">
                    <ion-button (click)="AgreeTask(task,3)" class="btn btn-red">Disagree</ion-button>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="from =='home'" style="padding-left: 5px; padding-right: 5px; justify-content: center;
            margin: 10px 0px;">
                <ion-col size="4" class="col-rigth-aligh">
                    <ion-button class="btn btn-red" (click)="AcceptTask(task,1)">Accept</ion-button>
                </ion-col>
            </ion-row>
            <ion-row style="padding-left: 5px; padding-right: 5px; justify-content: center;
            margin: 10px 0px;" *ngIf="from =='accept'">
                <ion-col no-padding size="5" *ngIf="task.Conform != '0'  && task.Complete == '0'">
                    <ion-button (click)="CompleteTask(task,1)" class="btn btn-green">Completed</ion-button>
                </ion-col>
                <ion-col no-padding size="5" *ngIf="task.Conform != '0'  && task.Complete == '0' ">
                    <ion-button (click)="CompleteTask(task,2)" class="btn btn-red">Not Completed</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card-content>
    <ion-list-header *ngIf="(from == 'posted' && task.AcceptedBy!='0') || (from == 'accept' && task.Conform != 0)">
        <ion-label *ngIf="(from == 'posted')">Acceptance Agent Details</ion-label>
        <ion-label *ngIf="(from == 'accept')">Posted Agent Details</ion-label>
        <!-- <ion-label *ngIf="(page == 'pay')">Agent Details</ion-label> -->
    </ion-list-header>
    <ion-list-header *ngIf="(from == 'home')">
        <ion-label>Posted Agent Details</ion-label>
    </ion-list-header>
    <ion-card-content no-padding class="part-2" *ngIf="(from == 'posted' && task.AcceptedBy!='0') || (from == 'accept' && task.Conform != 0) || (from == 'home')">
        <ion-grid no-padding>
            <ion-row class="border-box">
                <ion-col>
                    <ion-img class="user-img" src="{{task.userimage}}"></ion-img>
                </ion-col>
            </ion-row>
            <ion-row class="border-box">
                <ion-col size="5">
                    <ion-label class="details-title">Name</ion-label>
                </ion-col>
                <ion-col size="7">
                    <ion-label class="detail-value">{{task.name}}</ion-label>
                </ion-col>
            </ion-row>
            <ion-row class="border-box">
                <ion-col size="5">
                    <ion-label class="details-title">Licence No</ion-label>
                </ion-col>
                <ion-col size="7">
                    <ion-label class="detail-value">{{task.license_number}}</ion-label>
                </ion-col>
            </ion-row>
            <ion-row class="border-box">
                <ion-col size="5">
                    <ion-label class="details-title">Contact</ion-label>
                </ion-col>
                <ion-col size="7">
                    <!-- <ion-label class="detail-value">{{task.mobile_no}}</ion-label> -->
                    <ion-label class="detail-value"><a href="tel:{{task.mobile_no}}" class="button button-positive">{{task.mobile_no}}</a></ion-label>

                </ion-col>
            </ion-row>
            <ion-row class="border-box">
                <ion-col size="5">
                    <ion-label class="details-title">Email</ion-label>
                </ion-col>
                <ion-col size="7">
                    <!-- <ion-label class="detail-value">{{task.email}}</ion-label> -->
                    <ion-label class="value"><a href="mailto:{{task.email}}" class="button button-positive">{{task.email}}</a></ion-label>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card-content>
</ion-content>