:host {
    ion-header ion-toolbar {
        padding-top: 0px !important
    }
    ion-content {
        --background: #ffffff;
    }
    ion-img {
        margin: 2px !important;
        height: 60px !important;
        width: auto !important;
    }
    .part-2 {
        border: 0px solid #d4d4d4;
    }
    ion-list-header {
        --background: #E4E4E4;
        text-transform: capitalize;
    }
    .title {
        margin-top: 0px;
        display: inline !important;
        font-size: 13px;
        padding: 0px;
        line-height: 0px;
        letter-spacing: 0px;
        font-family: 'Roboto-Bold';
        color: #505050;
        margin-left: 1px;
    }
    .content {
        font-size: 13px;
        letter-spacing: 0;
        display: inline-block;
        margin: 0px
    }
    .col-rigth-aligh .content {
        display: block;
        color: #1c355d;
    }
    .content.date {
        // margin-top: 8px !important;
        margin-right: 5px !important;
    }
    .title.bold {
        display: inline !important;
        margin: 10px 0px !important;
        margin-left: 0px !important;
        margin-top: 15px !important;
        color: #1c355e;
        font-size: 16px;
    }
    .title.blue {
        color: #1c355e;
    }
    .title span {
        font-weight: normal;
        font-family: 'Roboto';
    }
    .btn.btn-red {
        width: 85% !important;
        display: inline-block;
        text-transform: capitalize;
        --border-radius: 5px !important;
    }
    .btn.btn-green {
        width: 85% !important;
        display: inline-block;
    }
    .border-box {
        border-bottom: 1px solid #848484;
        padding: 10px;
    }
    .details-title {
        color: black;
        font-family: 'Roboto-Bold';
        font-size: 13px;
    }
    .details-value {
        color: #505050;
        font-size: 13px;
    }
    .menu-img {
        width: 20px !important;
        position: absolute;
        top: 20px;
        right: 20px;
        height: auto !important;
        z-index: 1111 !important;
    }
    .menu-img.count {
        padding: 2px;
        width: auto !important;
        min-width: 20px !important;
        color: white !important;
        background: red;
        text-align: center;
        border-radius: 50%;
        top: 0;
        transform: translate(50%, 50%);
    }
}