<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title class="header-title text-center">Profile </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content no-padding>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm.value)">
        <ion-grid no-padding>
            <ion-row class="profile-img-block">
                <ion-col class="profile-img-box">
                    <div class="profile_image">
                        <ion-img class="pro-img" id="profile_image" *ngIf="image1 !=''" src="data:image/png;base64,{{image1}}"></ion-img>
                        <ion-img class="pro-img" id="profile_image" *ngIf=" image1 =='' && user.userimage != '' && user.userimage != 'http://agentaway.com//uploads/'" src="{{user.userimage}}"></ion-img>
                        <ion-img class="pro-img" id="profile_image" *ngIf="image1 =='' && user.userimage == ''" src="../../../../../assets/images/avtar.png"></ion-img>
                    </div>
                    <input type="hidden" formControlName="userimage">
                    <label *ngIf="isEdit" for="fileInput" icon-only ion-button class="icons-btn">
                            <ion-icon name="camera" (click)="selectImage(1)" class="icon"></ion-icon>
                        </label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="4.5">
                    <ion-label class="title">Name</ion-label>
                </ion-col>
                <ion-col size="7.5">
                    <ion-input class="value" [disabled]="!isEdit" type="text" formControlName="name"></ion-input>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="4.5">
                    <ion-label class="title">Licence No.</ion-label>
                </ion-col>
                <ion-col size="7.5">
                    <ion-input class="value" [disabled]="!isEdit" type="text" formControlName="license_number"></ion-input>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="4.5">
                    <ion-label class="title">Mobile No.</ion-label>
                </ion-col>
                <ion-col size="7.5">
                    <ion-input class="value" disabled type="tel" maxlength="10" formControlName="mobile_no"></ion-input>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="4.5">
                    <ion-label class="title">Email</ion-label>
                </ion-col>
                <ion-col size="7.5">
                    <ion-input class="value" type="text" [disabled]="!isEdit" formControlName="email"></ion-input>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="4.5">
                    <ion-label class="title">Broker Office Name</ion-label>
                </ion-col>
                <ion-col size="7.5">
                    <ion-input class="value" [disabled]="!isEdit" type="text" formControlName="brokeroffice_name"></ion-input>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="4.5">
                    <ion-label class="title">Enter NAR ID #</ion-label>
                </ion-col>
                <ion-col size="7.5" *ngIf='user.role_id == 2'>
                    <ion-input class="value" [disabled]="!isEdit" type="text" formControlName="nardsid"></ion-input>
                </ion-col>
                <ion-col size="7.5" *ngIf='user.role_id==3'>
                    <ion-input class="value" disabled type="text" formControlName="nardsid"></ion-input>
                </ion-col>
            </ion-row>
            <ion-row *ngIf='user.role_id!=2'>
                <ion-col size="4.5">
                    <ion-label class="title" *ngIf='user.role_id==3 || user.role_id==4 '>Broker Code</ion-label>
                    <ion-label class="title" *ngIf='user.role_id==5 || user.role_id==6'>Team Code</ion-label>
                </ion-col>
                <ion-col size="7.5">
                    <ion-input class="value" *ngIf='user.role_id==4 || user.role_id == 6' disabled type="text" formControlName="broker_code"></ion-input>
                    <ion-input class="value" *ngIf='user.role_id==3 || user.role_id == 5' disabled type="text" formControlName="my_broker_code"></ion-input>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="4.5">
                    <ion-label class="title">About Me</ion-label>
                </ion-col>
                <ion-col size="7.5">
                    <ion-textarea class="value" [disabled]="!isEdit" type="text" formControlName="about"></ion-textarea>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="4.5">
                    <ion-label class="title">Description of Car (for safety purpose)
                    </ion-label>
                </ion-col>
                <ion-col size="7.5">
                    <ion-textarea class="value" [disabled]="!isEdit" type="text" formControlName="desvehiclesafety"></ion-textarea>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="4.5">
                    <ion-label class="title">Address</ion-label>
                </ion-col>
                <ion-col size="7.5">
                    <ion-textarea class="value" [disabled]="!isEdit" type="text" formControlName="street_address"></ion-textarea>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="4.5">
                    <ion-label class="title">State</ion-label>
                </ion-col>
                <ion-col size="7.5">
                    <!-- <ionic-selectable *ngIf="isEdit" placeholder="Select State" [(ngModel)]="state1" [ngModelOptions]="{standalone: true}" [hasVirtualScroll]="true" [items]="resData" itemValueField="StateName" itemTextField="StateName" [canSearch]="true" (onChange)="stateSelected($event)"></ionic-selectable> -->
                    <!-- <ionic-selectable [isEnabled]="isEdit" placeholder="Select State" searchPlaceholder="Enter state name" [items]="states" itemValueField="StateID" [(ngModel)]="state1" [ngModelOptions]="{standalone: true}" itemTextField="StateName" [canSearch]="true" [canClear]="true"
                        (onChange)="stateSelected($event)"></ionic-selectable> -->
                    <!-- <ionic-selectable [isEnabled]="false" placeholder="Select State" searchPlaceholder="Enter state name" [items]="states" itemValueField="StateID" [(ngModel)]="state1" [ngModelOptions]="{standalone: true}" itemTextField="StateName" [canSearch]="true" [canClear]="true"
                        (onChange)="stateSelected($event)"></ionic-selectable> -->

                    <ionic-selectable #stateComponent [isEnabled]="isEdit" placeholder="Select State" searchPlaceholder="Enter state name" [items]="states" itemValueField="StateID" [(ngModel)]="state1" [ngModelOptions]="{standalone: true}" itemTextField="StateName" [canSearch]="true"
                        [searchFailText]="'Type to search state.'" [canClear]="true" (onSearch)="searchState($event)">
                    </ionic-selectable>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="this.state1">
                <ion-col size="4.5">
                    <ion-label class="title">City</ion-label>
                </ion-col>
                <ion-col size="7.5">
                    <!-- <ionic-selectable *ngIf="isEdit" placeholder="Select City" [(ngModel)]="city1" [ngModelOptions]="{standalone: true}" [hasVirtualScroll]="true" [items]="cityData" itemValueField="CityName" itemTextField="CityName" [canSearch]="true" (onChange)="citySelected($event)"></ionic-selectable> -->
                    <!-- <ionic-selectable [isEnabled]="isEdit" placeholder="Select City" searchPlaceholder="Enter city name" [items]="cities" itemValueField="CityID" [(ngModel)]="city1" [ngModelOptions]="{standalone: true}" itemTextField="CityName" [canSearch]="true" [canClear]="true"
                        (onChange)="citySelected($event)"></ionic-selectable> -->
                    <!-- <ionic-selectable [isEnabled]="false" placeholder="Select City" searchPlaceholder="Enter city name" [items]="cities" itemValueField="CityID" [(ngModel)]="city1" [ngModelOptions]="{standalone: true}" itemTextField="CityName" [canSearch]="true" [canClear]="true"
                        (onChange)="citySelected($event)"></ionic-selectable> -->

                    <ionic-selectable #cityComponent [isEnabled]="isEdit" placeholder="Select City" searchPlaceholder="Enter city name" [items]="cities" itemValueField="CityID" [(ngModel)]="city1" [ngModelOptions]="{standalone: true}" [searchFailText]="'Type to search city.'"
                        itemTextField="CityName" [canSearch]="true" [canClear]="true" (onSearch)="searchCity($event)">
                    </ionic-selectable>


                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="4.5">
                    <ion-label class="title">Zip Code</ion-label>
                </ion-col>
                <ion-col size="7.5">
                    <ion-input class="value" [disabled]="!isEdit" type="tel" maxlength="5" formControlName="st_zip"></ion-input>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="4.5">
                    <ion-label class="title zip-info">Zip code Areas of interest<span class="sup-span">(Add a zip and hit enter to add multiple zips)</span></ion-label>
                </ion-col>
                <ion-col size="7.5">
                    <!-- <ion-input class="value" [disabled]="!isEdit" type="text" formControlName="ZipCode"></ion-input> -->
                    <tag-input class="tag-input" [(ngModel)]="zipcodesList" formControlName="zipcodes" type="number" [validators]="validators" [errorMessages]="asyncErrorMessages" [asyncValidators]="asyncValidators" [separatorKeyCodes]="[32]" [placeholder]="'Add Zip code'"
                        [secondaryPlaceholder]="'Enter a new zip'"></tag-input>

                </ion-col>
            </ion-row>
            <ion-row>
                <!-- <ion-col size="4.5"> -->
                <ion-label class="title">Business Card</ion-label>
                <!-- </ion-col> -->
                <ion-input type="hidden" formControlName="business_card"></ion-input>
                <!-- <ion-col size="7.5"> -->
                <ion-img class="business-card-img" *ngIf="image2 !=''" src="data:image/png;base64,{{image2}}"></ion-img>
                <ion-img class="business-card-img" *ngIf=" image2 =='' && user.business_card != '' && user.business_card != 'http://agentaway.com//uploads/'" src="{{user.business_card}}" (click)="imagePreview(user.business_card)"></ion-img>
                <ion-img class="business-card-img" *ngIf="image2 =='' && user.business_card == ''" src="../../../../../assets/images/no_image.png"></ion-img>
                <ion-button [disabled]="!isEdit" (click)=selectImage(2)> Pick Image</ion-button>
                <!-- </ion-col> -->
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-list class="sec">
                        <ion-item no-padding class="form-control">
                            <ion-label class="value">Broker Payment Authorization and Participation</ion-label>
                            <ion-checkbox slot="start" [disabled]="!isEdit" formControlName="ethicalcodeofconduct"></ion-checkbox>
                        </ion-item>
                        <ion-item no-padding class="form-control">
                            <ion-label class="value">Non Compete Agreement</ion-label>
                            <ion-checkbox slot="start" [disabled]="!isEdit" formControlName="nonecompate"></ion-checkbox>
                        </ion-item>
                        <ion-item no-padding class="form-control">
                            <ion-label class="value">Safety Tips</ion-label>
                            <ion-checkbox slot="start" [disabled]="!isEdit" formControlName="saftey"></ion-checkbox>
                        </ion-item>
                        <ion-item no-padding class="form-control">
                            <ion-label class="value">Electronic Signature Consent</ion-label>
                            <ion-checkbox slot="start" [disabled]="!isEdit" formControlName="econsert"></ion-checkbox>
                        </ion-item>
                    </ion-list>
                </ion-col>
                <!-- <ion-col size="4.5">
                    <ion-label class="title">Business Cord</ion-label>
                </ion-col>
                <ion-col size="7.5">
                    <ion-list class="custom-checkbox">
                        <ion-item no-padding class="form-control">
                            
                            <ion-label>Ethical Cord Of Conduct</ion-label>
                            <ion-checkbox slot="start" [disabled]="!isEdit" formControlName="ethicalcodeofconduct"></ion-checkbox>
                        </ion-item>
                        <ion-item no-padding class="form-control">
                            <ion-label>Non Compete</ion-label>
                            <ion-checkbox slot="start" [disabled]="!isEdit" formControlName="nonecompate"></ion-checkbox>
                        </ion-item>
                        <ion-item no-padding class="form-control">
                            <ion-label>Safety</ion-label>
                            <ion-checkbox slot="start" [disabled]="!isEdit" formControlName="saftey"></ion-checkbox>
                        </ion-item>
                        <ion-item no-padding class="form-control">
                            <ion-label>E Consort</ion-label>
                            <ion-checkbox slot="start" [disabled]="!isEdit" formControlName="econsert"></ion-checkbox>
                        </ion-item>
                    </ion-list>
                </ion-col> -->
            </ion-row>
        </ion-grid>
        <!-- <form [formGroup]="addTaskForm" (ngSubmit)="onSubmit()" >
        <ion-item >
          
          
          </ion-item>
          <ion-item >
              <ion-label position="floating">Mobile No.</ion-label>
              <ion-input type="number" formControlName="mobileno"></ion-input>
            </ion-item>
            <ion-item >
                <ion-label position="floating">Email</ion-label>
                <ion-input type="email" formControlName="email"></ion-input>
              </ion-item>
              <ion-item >
                  <ion-label position="floating">Address</ion-label>
                  <ion-input type="text" formControlName="address"></ion-input>
                </ion-item>
                <ion-item >
                    <ion-label position="floating">Zip code</ion-label>
                    <ion-input type="text" formControlName="zipcode"></ion-input>
                  </ion-item>
  
                  <ion-grid no-padding>
                      <ion-row no-padding>
                        <ion-col no-padding>  <ion-item>
                            <ion-label position="floating">Date & Time</ion-label>
                            <ion-input type="text" formControlName="datetime"></ion-input>
                          </ion-item></ion-col>
                        <ion-col size="2">       <ion-img src="../../../assets/images/calendar.png"></ion-img></ion-col>
                      </ion-row>
                    </ion-grid>
                  <ion-grid no-padding>
                    <ion-row no-padding>
                      <ion-col no-padding>  <ion-item>
                          <ion-label position="floating">Select Service</ion-label>
                          <ion-input type="text" formControlName="service"></ion-input>
                        </ion-item></ion-col>
                      <ion-col size="2"> <ion-img src="../../../assets/images/aero.png"></ion-img></ion-col>
                    </ion-row>
                  </ion-grid>
                
                  <ion-item >
                    <ion-label position="floating">Deal ($)</ion-label>
                    <ion-input type="text" formControlName="dealamount"></ion-input>
                  </ion-item>
                  <ion-item >
                    <ion-label position="floating">Comment</ion-label>
                    <ion-input type="text" formControlName="comment"></ion-input>
                  </ion-item> -->
        <ion-button expand="block" *ngIf="isEdit" class="btn btn-red" type="submit" [disabled]="!profileForm?.valid">
            Save
        </ion-button>
        <ion-button expand="block" *ngIf="!isEdit" class="btn btn-red" (click)="edit()">
            Edit
        </ion-button>
    </form>
</ion-content>
<div *ngIf="businessCard" class="pop-block">
    <div class="popup-box">
        <ion-label class="popup-box-close" (click)="imagePreview(user.business_card)"> &times; </ion-label>
        <ion-img class="pop-img" src="{{user.business_card}}"></ion-img>
    </div>
</div>