<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title class="header-title text-center">Invite A Friend </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <form [formGroup]="inviteForm" (ngSubmit)="onSubmit(inviteForm.value)"> -->
    <ion-grid>

        <ion-row>
            <ion-col>
                <ion-item no-padding class="form-control">
                    <ion-label class="zip-info" position="stacked">Emails<span class="hint-msg">(Add a email and hit enter to add email)</span></ion-label>
                    <!-- <ion-tags-input [(ngModel)]="emails" [separatorStr]="','" [hideRemove]="true" [canEnterAdd]="true" (onChange)="onChange($event)" [placeholder]="'Add email'"></ion-tags-input> -->
                    <tag-input [(ngModel)]="emails" [separatorKeyCodes]="[32]" [placeholder]="'Add email'" [secondaryPlaceholder]="'Enter a new email'" [validators]="validators"></tag-input>
                    <!-- <ion-input type="text" placeholder="Enter email here" formControlName="emails"></ion-input> -->
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item no-padding class="form-control">
                    <ion-label position="floating">Subject</ion-label>
                    <ion-input type="text" placeholder="Enter subjet here" [(ngModel)]="subject"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item no-padding class="form-control">
                    <ion-label position="floating">Message</ion-label>
                    <ion-textarea rows="20" type="text" [(ngModel)]="msg" placeholder="Enter message here..." clearInput></ion-textarea>
                </ion-item>
            </ion-col>
        </ion-row>

    </ion-grid>

    <ion-button expand="block" class="btn btn-red" type="submit" (click)="onSubmit()">
        Submit
    </ion-button>
    <!-- </form> -->
</ion-content>