:host {
    ion-header ion-toolbar {
        padding-top: 0px !important
    }
    ion-content {
        --background: #ffffff;
    }
    .title {
        margin-top: 9px;
        font-size: 13px;
        color: #000000;
        line-height: normal;
    }
    .value {
        font-size: 13px;
        color: #505050;
    }
    ion-row {
        text-align: center;
        border-bottom: 1px solid #b2b2b2;
    }
    ion-label {
        text-align: left;
    }
    ion-item {
        color: black;
    }
    ion-input {
        text-align: left;
    }
    ion-textarea {
        padding-top: 0px;
        text-align: left;
    }
    .profile-img-box {
        margin-bottom: 20px !important
    }
    ion-checkbox {
        --webkit-margin-end: 10px !important;
        --margin-inline-end: 10px !important;
        --ion-color-primary: #505050 !important;
        --ion-color-primary-contrast: #ff0000 !important;
        --border-color: #505050;
    }
    .sec .form-control {
        border-bottom: none !important;
        font-size: 15px !important;
        display: block !important;
        --inner-border-width: 0 0 0px 0 !important;
        width: auto !important;
        float: left;
    }
    .clickEnableCls {
        --pointer-events: visible !important;
    }
}