<ion-content>
    <!-- <ion-list-header>
        <ion-label style="display: block;text-align: center;width: 100%;">History</ion-label>
    </ion-list-header> -->

    <ion-radio-group [(ngModel)]="selectPage">
        <ion-grid no-padding>
            <ion-row no-padding>
                <ion-col no-padding>
                    <ion-label class="tabing_task tabing2 active">My Posted Tasks
                        <ion-radio value="post"></ion-radio>
                        <span class="taskcheckmark"></span>
                    </ion-label>
                </ion-col>
                <ion-col no-padding>
                    <ion-label class="tabing_task tabing2">My Posted History
                        <ion-radio value="accept"></ion-radio>
                        <span class="taskcheckmark"></span>
                    </ion-label>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-radio-group>
    <ion-list no-padding *ngIf="postedTaskList?.length > 0 && this.selectPage=='post'" style="margin-bottom: 30px;">

        <ion-card-content *ngFor="let task of postedTaskList" no-padding>
            <ion-grid no-padding>
                <ion-row style="padding-left: 5px; padding-right: 5px;">
                    <ion-col no-padding size="12" (click)="taskClick(task,'posted')">
                        <!-- <ion-label class="title bold">{{task.ServiceName}}({{task.Total}})</ion-label> -->
                        <ion-label class="title bold">{{task.ServiceName}}</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row style="padding-left: 5px; padding-right: 5px;" (click)="taskClick(task,'posted')">
                    <ion-col no-padding size="3">
                        <ion-label class="title gray">Appt. Time/date:</ion-label>
                    </ion-col>
                    <ion-col no-padding size="9">
                        <ion-label class="content">{{ task.DateTime | date:'MMM dd, hh:mm a': 'UTC' }}</ion-label>
                    </ion-col>
                </ion-row>
                <!-- style="padding-left: 5px; padding-right: 5px;" -->
                <ion-row>
                    <ion-col size="7">
                        <ion-grid no-padding>
                            <ion-row no-padding (click)="taskClick(task,'posted')">
                                <ion-col no-padding size="5.5">
                                    <ion-label class="title gray">Zipcode :</ion-label>
                                </ion-col>
                                <ion-col no-padding size="6.5">
                                    <ion-label class="content">{{task.ServiceZipCodes}}</ion-label>
                                </ion-col>
                            </ion-row>
                            <ion-row no-padding (click)="taskClick(task,'posted')">
                                <ion-col no-padding>
                                    <ion-label class="title blue">${{task.Deal}} <span>Deal</span></ion-label>
                                </ion-col>
                            </ion-row>

                            <ion-row no-padding (click)="taskClick(task,'posted')">
                                <ion-col no-padding size="5.5">
                                    <ion-label class="title gray">Client Name:</ion-label>
                                </ion-col>
                                <ion-col no-padding size="6.5">
                                    <ion-label class="content">{{task.ClientName}}</ion-label>
                                </ion-col>
                            </ion-row>
                            <ion-row no-padding>
                                <ion-col no-padding size="5.5">
                                    <ion-label class="title gray">Status:</ion-label>
                                </ion-col>
                                <ion-col no-padding size="6.5">
                                    <ion-label *ngIf="task.AcceptedBy!='0' && task.Conform == '0'" class="content">Accepted By: {{task.name}}</ion-label>
                                    <ion-label *ngIf="task.AcceptedBy!='0' && task.Conform != '0' && task.Agree == '0' " class="content taskinprogress">Task In Progress</ion-label>
                                    <ion-label *ngIf="task.AcceptedBy=='0'" class="content posted">Posted </ion-label>
                                    <ion-label *ngIf="task.AcceptedBy!='0' && task.Agree != 0 && task.Conform !='0' " class="content completed">Completed {{ task.UpdateDate | date:'MM/dd/yyyy': 'UTC' }}</ion-label>
                                </ion-col>
                            </ion-row>
                            <ion-row no-padding *ngIf="task.AcceptedBy!='0'">
                                <ion-col no-padding size="5.5">
                                    <ion-label class="title gray">Agent Profile:</ion-label>
                                </ion-col>
                                <ion-col no-padding size="6.5">
                                    <ion-label *ngIf="task.AcceptedBy!= 0 && task.Conform == 0" class="content">{{task.name}}<span class="actions-profile" (click)="viewProfile(task.AcceptedBy)">(View Profile)</span> </ion-label>
                                    <ion-label *ngIf="task.AcceptedBy!= 0 && task.Conform != 0 && task.Agree == 0 " class="content">{{task.name}}<span class="actions-profile" (click)="viewProfile(task.AcceptedBy)">(View Profile)</span></ion-label>
                                    <ion-label *ngIf="task.AcceptedBy!= 0 && task.Agree != 0 && task.Conform != 0 " class="content">{{task.name}}<span class="actions-profile" (click)="viewProfile(task.AcceptedBy)">(View Profile)</span></ion-label>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-col>
                    <ion-col size="5">
                        <ion-grid no-padding>
                            <!-- <ion-row (click)="taskClick(task,'posted')">
                                <ion-col no-padding class="col-rigth-aligh" style="padding-right: 5px !important;">
                                    <ion-label class="content"> {{ task.DateTime | date:'MMM dd, hh:mm a': 'UTC' }} </ion-label>
                                </ion-col>
                            </ion-row> -->
                            <ion-row *ngIf="task.AcceptedBy=='0'">
                                <ion-col no-padding class="col-rigth-aligh">
                                    <ion-button (click)="deleteTask(task,0)" class="btn btn-red">Cancel</ion-button>
                                </ion-col>
                            </ion-row>
                            <ion-row *ngIf="task.AcceptedBy!='0' && task.Agree == 0 && task.Conform == 0">
                                <ion-col no-padding class="col-rigth-aligh">
                                    <ion-button (click)="ConfirmTask(task,1)" class="btn btn-green">Confirm</ion-button>
                                </ion-col>
                            </ion-row>
                            <ion-row *ngIf="task.AcceptedBy!='0' && task.Agree == 0 && task.Conform == 0">
                                <ion-col no-padding class="col-rigth-aligh">
                                    <ion-button (click)="ConfirmTask(task,0)" class="btn btn-red">Deny</ion-button>
                                </ion-col>
                            </ion-row>
                            <ion-row *ngIf="task.AcceptedBy!='0' && task.Agree == 1 && task.Conform !=0">
                                <ion-col no-padding class="col-rigth-aligh">
                                    <ion-button (click)="AgreeTask(task,2)" class="btn btn-green">Agree</ion-button>
                                </ion-col>
                            </ion-row>
                            <ion-row *ngIf="task.AcceptedBy!='0' && task.Agree == 1 && task.Conform !=0">
                                <ion-col no-padding class="col-rigth-aligh">
                                    <ion-button (click)="AgreeTask(task,3)" class="btn btn-red">Disagree</ion-button>
                                </ion-col>
                            </ion-row>
                            <!-- <ion-row *ngIf="task.AcceptedBy != '0'"> -->
                            <ion-row *ngIf="task.Conform != '0'">
                                <ion-col no-padding class="col-rigth-aligh">
                                    <ion-button (click)="openChat(task,'accept')" class="btn btn-blue">Chat</ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-list>

    <ion-list no-padding *ngIf="postedHistoryList?.length > 0 && this.selectPage=='accept'" style="margin-bottom: 30px;">
        <ion-card-content *ngFor="let task of postedHistoryList" no-padding>
            <ion-grid no-padding>
                <ion-row style="padding-left: 5px; padding-right: 5px;">
                    <ion-col no-padding size="12" (click)="taskClick(task,'posted')">
                        <ion-label class="title bold">{{task.ServiceName}}</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row style="padding-left: 5px; padding-right: 5px;" (click)="taskClick(task,'posted')">
                    <ion-col no-padding size="3">
                        <ion-label class="title gray">Appt. Time/date:</ion-label>
                    </ion-col>
                    <ion-col no-padding size="9">
                        <ion-label class="content">{{ task.DateTime | date:'MMM dd, hh:mm a': 'UTC' }}</ion-label>
                    </ion-col>
                </ion-row>
                <!-- style="padding-left: 5px; padding-right: 5px;" -->
                <ion-row>
                    <ion-col no-padding size="7">
                        <ion-grid no-padding>
                            <ion-row no-padding (click)="taskClick(task,'posted')">
                                <ion-col no-padding size="5.5">
                                    <ion-label class="title gray">Zipcode :</ion-label>
                                </ion-col>
                                <ion-col no-padding size="6.5">
                                    <ion-label class="content">{{task.ServiceZipCodes}}</ion-label>
                                </ion-col>
                            </ion-row>
                            <ion-row no-padding (click)="taskClick(task,'posted')">
                                <ion-col no-padding>
                                    <ion-label class="title blue">${{task.Deal}} <span>Deal</span></ion-label>
                                </ion-col>
                            </ion-row>

                            <ion-row no-padding (click)="taskClick(task,'posted')">
                                <ion-col no-padding size="5.5">
                                    <ion-label class="title gray">Client Name:</ion-label>
                                </ion-col>
                                <ion-col no-padding size="6.5">
                                    <ion-label class="content">{{task.ClientName}}</ion-label>
                                </ion-col>
                            </ion-row>
                            <ion-row no-padding>
                                <ion-col no-padding size="5.5">
                                    <ion-label class="title gray">Status:</ion-label>
                                </ion-col>
                                <ion-col no-padding size="6.5">
                                    <ion-label *ngIf="task.AcceptedBy!='0' && task.Agree != 0 && task.Conform !='0' " class="content completed">Completed {{ task.UpdateDate | date:'MM/dd/yyyy': 'UTC' }}</ion-label>
                                    <ion-label *ngIf="task.AcceptedBy=='0' && task.IsDelete == '1'" class="content deleted">Deleted</ion-label>
                                </ion-col>
                            </ion-row>
                            <ion-row no-padding *ngIf="task.AcceptedBy!='0'">
                                <ion-col no-padding size="5.5">
                                    <ion-label class="title gray">Agent Profile:</ion-label>
                                </ion-col>
                                <ion-col no-padding size="6.5">
                                    <ion-label *ngIf="task.AcceptedBy!= 0 && task.Agree != 0 && task.Conform != 0 " class="content">{{task.name}}<span class="actions-profile" (click)="viewProfile(task.AcceptedBy)">(View Profile)</span></ion-label>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-col>
                    <ion-col no-padding size="5">
                        <ion-grid no-padding>

                            <ion-row *ngIf="task.Agree == '2' && task.ClientSurvey == '0'">
                                <ion-col no-padding class="col-rigth-aligh">
                                    <ion-button (click)="ClentSurvey(task,'posted')" class="btn btn-red">Client Survey</ion-button>
                                </ion-col>
                            </ion-row>
                            <ion-row *ngIf=" task.Agree == '2' && task.ClientSurvey != 0">
                                <ion-col no-padding class="col-rigth-aligh">
                                    <ion-button (click)="ClentSurvey(task,'accept')" class="btn btn-red">View Survey</ion-button>
                                </ion-col>
                            </ion-row>
                            <ion-row *ngIf="task.AcceptedBy != '0'">
                                <ion-col no-padding class="col-rigth-aligh">
                                    <ion-button (click)="openChat(task,'accept')" class="btn btn-blue">Chat</ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-list>


    <ion-card-content no-padding class="empty-list-box" *ngIf="postedTaskList?.length == 0 && this.selectPage=='post'">
        <ion-label class="empty-list">
            Sorry, No New Tasks Available!
        </ion-label>
    </ion-card-content>
    <ion-card-content no-padding class="empty-list-box" *ngIf="postedHistoryList?.length == 0 && this.selectPage=='accept'">
        <ion-label class="empty-list">
            No History Available for you!
        </ion-label>
    </ion-card-content>

</ion-content>