:host {
    ion-header ion-toolbar {
        padding-top: 0px !important
    }
    ion-content {
        --background: #ffffff;
    }
    .form {
        padding: 10px !important;
        margin: 0 10px !important;
    }
    ion-label {
        font-size: 13px;
        color: #505050;
    }
    ion-input {
        color: #1c355e;
    }
    ion-row {
        border-bottom: 1px solid #b2b2b2;
    }
}