<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title class="header-title text-center">Change Password</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form class="form" [formGroup]="cpForm" (ngSubmit)="onSubmit(cpForm.value)">
        <ion-item class="form-control">
            <ion-label position="floating">Old Passwrod</ion-label>
            <ion-input class="value" type="password" formControlName="old_password"></ion-input>
        </ion-item>
        <ion-item class="form-control">
            <ion-label position="floating">New Password</ion-label>
            <ion-input class="value" type="password" formControlName="new_password"></ion-input>
        </ion-item>
        <ion-item class="form-control">
            <ion-label position="floating">Confirm Password</ion-label>
            <ion-input class="value" type="password" formControlName="Confirm"></ion-input>
        </ion-item>


        <ion-button expand="block" class="btn btn-red" type="submit" [disabled]="!cpForm?.valid">
            Change Password
        </ion-button>
    </form>
</ion-content>