<ion-content no-padding>
    <ion-list no-padding>
        <ion-item class="menu-header-item" no-paßdding>
            <ion-label class="menu-header">You are Logged-In as {{this.user.RoleName}}</ion-label>
        </ion-item>
        <ion-item no-padding>
            <ion-grid no-padding>
                <ion-row no-padding>
                    <ion-col size="2">
                        <div class="img-box">
                            <ion-img *ngIf="this.user.userimage == ''" class="user-img" src="../../../../assets/images/avtar.png"></ion-img>
                            <ion-img *ngIf="this.user.userimage != ''" class="user-img" src="{{this.user.userimage}}"></ion-img>
                        </div>
                    </ion-col>
                    <ion-col size="7">
                        <ion-label class="menu-profile"> {{this.user.name}}</ion-label>
                        <ion-label class="menu-profile sub"> View your Profile</ion-label>
                    </ion-col>
                    <ion-col size="3" (click)="opneProfile()">
                        <ion-img class="menu-right-icon" src="../../../../assets/images/forword.png"></ion-img>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>

        <ion-item *ngIf="this.user.role_id == 3" no-padding (click)="gotoAgent()">
            <ion-img class="menu-icon" src="../../../../assets/images/my-agent.png"></ion-img>
            <ion-label class="menu-label">My Agents</ion-label>
        </ion-item>
        <ion-item *ngIf="this.user.role_id == 5" no-padding (click)="gotoAgent()">
            <ion-img class="menu-icon" src="../../../../assets/images/group_member.png"></ion-img>
            <ion-label class="  ">My Team Member</ion-label>
        </ion-item>
        <ion-item *ngIf="this.user.role_id == 3 || this.user.role_id == 5" no-padding (click)="inviteFriend()">
            <ion-img class="menu-icon" src="../../../../assets/images/invite.png"></ion-img>
            <ion-label class="menu-label">Invite A Friend</ion-label>
        </ion-item>

        <ion-item no-padding (click)="opneSettings()">
            <ion-img class="menu-icon" src="../../../../assets/images/setting.png"></ion-img>
            <ion-label class="menu-label">Settings</ion-label>
        </ion-item>
        <ion-item no-padding (click)="opneBankDetails()">
            <ion-img class="menu-icon" src="../../../../assets/images/bank.png"></ion-img>
            <ion-label class="menu-label">Bank Details</ion-label>
        </ion-item>
        <ion-item no-padding (click)="paymentTransactions()">
            <ion-img class="menu-icon" src="../../../../assets/images/bank.png"></ion-img>
            <ion-label class="menu-label">Payment Transactions</ion-label>
        </ion-item>
        <ion-item no-padding (click)="opneSubscribe()">
            <ion-img class="menu-icon" src="../../../../assets/images/subscribe.png"></ion-img>
            <ion-label class="menu-label">Subscribe Plan</ion-label>
        </ion-item>
        <ion-item no-padding (click)="opneChangePassword()">
            <ion-img class="menu-icon" src="../../../../assets/images/cpassword.png"></ion-img>
            <ion-label class="menu-label">Change Password</ion-label>
        </ion-item>
        <ion-item no-padding (click)="faq()">
            <ion-img class="menu-icon" src="../../../../assets/images/faq.png"></ion-img>
            <ion-label class="menu-label">FAQs</ion-label>
        </ion-item>
        <ion-item no-padding (click)="contactus()">
            <ion-img class="menu-icon" src="../../../../assets/images/contct.png"></ion-img>
            <ion-label class="menu-label">Contact Us</ion-label>
        </ion-item>
        <ion-item no-padding (click)="logout()">
            <ion-img class="menu-icon" src="../../../../assets/images/logout.png"></ion-img>
            <ion-label class="menu-label">LogOut</ion-label>
        </ion-item>
    </ion-list>
</ion-content>