:host {
    ion-img {
        width: 22px !important;
    }
    .menu-icon {
        margin: 0px 20px;
    }
    .user-img {
        width: 100% !important;
        position: absolute !important;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .img-box {
        overflow: hidden;
        height: 50px !important;
        width: 50px !important;
        display: block;
        border-radius: 50%;
        position: relative;
        margin-top: 5px !important;
    }
    .menu-header-item {
        // background: #188038 !important;
        background: white !important;
        --background: transparent !important;
    }
    .menu-header {
        margin: 20px;
        letter-spacing: 0.5px;
        // color: white !important;
        color: #1c355d !important;
        text-align: center !important;
        font-size: 16px !important;
        font-family: 'Roboto-Bold';
    }
    .menu-label {
        margin: 20px;
        font-size: 14px;
        color: #505050;
        font-family: 'Roboto-Bold';
        letter-spacing: 0.5px;
    }
    .menu-right-icon {
        margin: 10px auto;
        float: right;
    }
    .menu-profile {
        margin-left: 15px;
        font-size: 15px;
        margin-top: 10px;
        font-family: 'Roboto-Bold';
        color: #4f4f4f;
    }
    .menu-profile.sub {
        margin-top: 2px;
        font-family: 'Roboto';
        color: #777777;
        margin-bottom: 10px;
    }
    ion-col {
        margin: 0 auto !important;
    }
    ion-content {
        --background: #f2f7fd;
    }
}