:host {
    ion-row {
        justify-content: center;
    }
    ion-col {
        text-align: center;
    }
    ion-label {
        color: #234781;
    }
    ion-input {
        color: #234781;
        padding: 0 15px !important;
    }
    .form-control {
        --ion-background-color: rgba(255, 255, 255, 0.5);
        color: #234781;
        font-size: 18px;
        font-family: 'Roboto';
        width: 100% !important;
        display: block !important;
        border: 1px solid #234781;
    }
    .form-control ion-label {
        padding: 0 15px !important;
    }
    .content-box {
        width: 100%;
        background: rgba(255, 255, 255, 0.5) !important;
        border-radius: 50px !important;
        height: 50px !important;
        padding: 12px !important;
    }
    .btn.btn-blue {
        width: 100%;
        font-size: 20px;
        --background: #1c355e;
        color: white !important;
        text-transform: uppercase;
        font-family: 'Roboto-Bold';
        --border-radius: 50px !important;
        overflow: hidden;
        height: 50px;
    }
}