<ion-content class="page-bg">
    <ion-grid class="top-img-logo">
        <ion-row>
            <ion-col>
                <ion-img src="../../../assets/images/logo.png"></ion-img>
            </ion-col>
        </ion-row>



    </ion-grid>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" class="form">

        <ion-grid>

            <ion-row>
                <ion-col no-padding class="text-left">
                    <ion-label class="welcome-title">Welcome Back</ion-label>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col class="text-left">
                    <ion-label class="welcome-content">Sign in to continue</ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item no-padding class="form-control">
                        <ion-label position="floating">Mobile no.</ion-label>
                        <ion-input type="tel" maxlength="10" formControlName="mobile_no"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-item no-padding class="form-control ">
                        <ion-label position="floating">Password</ion-label>
                        <ion-input type="password" formControlName="password"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="text-right">
                    <ion-label class="link-content text-right" (click)="goToForgotPassword()">Forgot Password?</ion-label>
                </ion-col>
            </ion-row>
            <ion-row class="container mb-10">
                <ion-col>
                    <ion-button class="btn btn-blue" type="submit" [disabled]="!loginForm?.valid">
                        LogIn
                    </ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-label class="link-content"> Don't Have an Account?</ion-label>
                    <ion-label class="sublink" (click)="goToRegister()"> Sign UP</ion-label>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>