<ion-content>
    <ion-grid class="top-img-logo">

        <ion-row>
            <ion-col class="text-left">
                <ion-img src="../../../assets/images/logo.png"></ion-img>
            </ion-col>
        </ion-row>


    </ion-grid>


    <form [formGroup]="otpForm" (ngSubmit)="onSubmit(otpForm.value)" class="form">

        <ion-grid>

            <ion-row>
                <ion-col class="text-left">
                    <ion-label class="welcome-title">Verification Code</ion-label>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col class="text-left">
                    <ion-label class="welcome-content">Please type the verification code sent to {{mobileno}}</ion-label>
                </ion-col>
            </ion-row>

            <ion-row class="mb-20">
                <ion-col>
                    <ion-item no-padding class="form-control border-bottom">
                        <ion-label position="floating">Enter Code</ion-label>
                        <ion-input type="text" formControlName="otp"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row class="container mt-20 mb-20">
                <ion-col>
                    <ion-button class="btn btn-blue" type="submit" [disabled]="!otpForm?.valid">
                        Submit
                    </ion-button>
                </ion-col>
            </ion-row>
            <ion-row class="content-box">
                <ion-col>
                    <ion-label class="link-content">Didn't receive the verification code?</ion-label>
                    <ion-label class="sublink" (click)="rendCode()"> Resend code</ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>

                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-img class="back-img" (click)="clickBack()" src="../../../assets/images/Back.png"></ion-img>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>