<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title class="header-title text-center">Subscribe</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content no-padding>
    <!-- <form [formGroup]="subscribeForm" (ngSubmit)="onSubmit(subscribeForm.value)">
        <ion-item no-padding>
            <ion-label>Subscribe Plan</ion-label>
            <ion-toggle formControlName="subscribe"></ion-toggle>
        </ion-item>
    </form> -->

    <ion-list>
        <ion-list-header class="active" *ngIf="active_plan != undefined || active_plan !=null ">
            <ion-label>Active Plan</ion-label>
        </ion-list-header>
        <ion-card-content class="current-plan" no-padding *ngIf="active_plan != undefined || active_plan !=null ">
            <ion-grid>
                <ion-row class="padding-box">
                    <ion-col class="padding-box" no-padding>
                        <ion-label class="plan_amt">{{active_plan.PlanPrice}}/{{active_plan.ValidityDays}} Days</ion-label>
                    </ion-col>
                </ion-row>

                <ion-row class="padding-box">
                    <ion-col size="6" class="padding-box" no-padding>
                        <ion-label class="title_cr">Plan Expiration</ion-label>
                    </ion-col>
                    <ion-col size="0.5" class="padding-box" no-padding>
                        <ion-label class="title_cr">:</ion-label>
                    </ion-col>
                    <ion-col class="padding-box" no-padding>
                        <ion-label class="content_cr"> {{active_plan.PlanExpireDate}} </ion-label>
                    </ion-col>
                </ion-row>
                <ion-row class="padding-box">
                    <ion-col size="6" class="padding-box" no-padding>
                        <ion-label class="title_cr">Task(s) Remaining</ion-label>
                    </ion-col>
                    <ion-col size="0.5" class="padding-box" no-padding>
                        <ion-label class="title_cr">:</ion-label>
                    </ion-col>
                    <ion-col class="padding-box" no-padding>
                        <ion-label class="content_cr"> {{active_plan.available_tasks}} </ion-label>
                    </ion-col>
                </ion-row>
                <ion-row class="padding-box">
                    <ion-col size="6" class="padding-box" no-padding>
                        <ion-label class="title_cr">Member(s) Remaining</ion-label>
                    </ion-col>
                    <ion-col size="0.5" class="padding-box" no-padding>
                        <ion-label class="title_cr">:</ion-label>
                    </ion-col>
                    <ion-col class="padding-box" no-padding>
                        <ion-label class="content_cr"> {{active_plan.available_member}} </ion-label>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-list>


    <ion-list>
        <ion-list-header class="available">
            <ion-label>Available Plans</ion-label>
        </ion-list-header>
        <ion-card-content *ngFor="let plan of planList" no-padding>
            <ion-grid>
                <ion-row class="padding-box">
                    <ion-col size="3" class="padding-box" no-padding>
                        <ion-label class="title">Plan Name</ion-label>
                    </ion-col>
                    <ion-col size="0.4" class="padding-box" no-padding>
                        <ion-label class="title">:</ion-label>
                    </ion-col>
                    <ion-col size="4" class="padding-box" no-padding>
                        <ion-label class="content">{{plan.PlanName}}</ion-label>
                    </ion-col>
                    <ion-col size="4.6" class="padding-box" no-padding>
                        <ion-label class="content">Total Task : {{plan.NumberOfTask}}</ion-label>
                    </ion-col>
                </ion-row>

                <ion-row class="padding-box">
                    <ion-col size="3" class="padding-box" no-padding>
                        <ion-label class="title">Plan Price</ion-label>
                    </ion-col>
                    <ion-col size="0.4" class="padding-box" no-padding>
                        <ion-label class="title">:</ion-label>
                    </ion-col>
                    <ion-col size="4" class="padding-box" no-padding>
                        <ion-label class="content"> {{plan.PlanPrice}} </ion-label>
                    </ion-col>
                    <ion-col size="4.6" class="padding-box" no-padding *ngIf="plan.available_member > 0">
                        <ion-label class="content">Total Members : {{plan.available_member}}</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row class="padding-box">
                    <ion-col size="3" class="padding-box" no-padding>
                        <ion-label class="title">Plan Days</ion-label>
                    </ion-col>
                    <ion-col size="0.4" class="padding-box" no-padding>
                        <ion-label class="title">:</ion-label>
                    </ion-col>
                    <ion-col size="4.6" class="padding-box" no-padding>
                        <ion-label class="content"> {{plan.ValidityDays}} </ion-label>
                    </ion-col>
                    <ion-col size="4" class="padding-box" no-padding>
                        <ion-button [disabled]="isActive" class="btn-subscribe" (click)="clickToSubScribe(plan)"> SubScribe </ion-button>
                    </ion-col>
                </ion-row>

            </ion-grid>
        </ion-card-content>
    </ion-list>


    <ion-list *ngIf="isShowHistory">
        <ion-list-header class="history">
            <ion-label>History</ion-label>
        </ion-list-header>
        <ion-card-content *ngFor="let plan of planHistoryList" no-padding>
            <ion-grid>
                <ion-row class="padding-box">
                    <ion-col size="3.6" class="padding-box" no-padding>
                        <ion-label class="title">Plan Name</ion-label>
                    </ion-col>
                    <ion-col size="0.4" class="padding-box" no-padding>
                        <ion-label class="title">:</ion-label>
                    </ion-col>
                    <ion-col size="8" class="padding-box" no-padding>
                        <ion-label class="content">{{plan.PlanName}}</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row class="padding-box">
                    <ion-col size="4" class="padding-box" no-padding *ngIf="plan.available_member > 0">
                        <ion-label class="title">Total Members : </ion-label>
                    </ion-col>
                    <ion-col size="2" class="padding-box" no-padding *ngIf="plan.available_member > 0">
                        <ion-label class="content">{{plan.available_member}}</ion-label>
                    </ion-col>
                    <ion-col size="4" class="padding-box" no-padding>
                        <ion-label class="title">Total Task : </ion-label>
                    </ion-col>
                    <ion-col size="2" class="padding-box" no-padding>
                        <ion-label class="content">{{plan.NumberOfTask}}</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row class="padding-box">
                    <ion-col size="3.6" class="padding-box" no-padding>
                        <ion-label class="title">Transaction ID</ion-label>
                    </ion-col>
                    <ion-col size="0.4" class="padding-box" no-padding>
                        <ion-label class="title">:</ion-label>
                    </ion-col>
                    <ion-col size="8" class="padding-box" no-padding>
                        <ion-label class="content">#{{plan.TransactionID}}</ion-label>
                    </ion-col>
                </ion-row>

                <ion-row class="padding-box">
                    <ion-col size="3.6" class="padding-box" no-padding>
                        <ion-label class="title">Start Date</ion-label>
                    </ion-col>
                    <ion-col size="0.4" class="padding-box" no-padding>
                        <ion-label class="title">:</ion-label>
                    </ion-col>
                    <ion-col size="8" class="padding-box" no-padding>
                        <ion-label class="content"> {{plan.PlanPurchaseDate}} </ion-label>
                    </ion-col>
                </ion-row>
                <ion-row class="padding-box">
                    <ion-col size="3.6" class="padding-box" no-padding>
                        <ion-label class="title">Expiration Date</ion-label>
                    </ion-col>
                    <ion-col size="0.4" class="padding-box" no-padding>
                        <ion-label class="title">:</ion-label>
                    </ion-col>
                    <ion-col size="8" class="padding-box" no-padding>
                        <ion-label class="content"> {{plan.PlanExpireDate}} </ion-label>
                    </ion-col>
                </ion-row>

            </ion-grid>
        </ion-card-content>
    </ion-list>

</ion-content>