:host {
    ion-header ion-toolbar {
        padding-top: 0px !important
    }
    ion-content {
        --background: #ffffff;
    }
    ion-label {
        --background: #1c355e;
        padding: 10px !important;
    }
    .plan_amt {
        font-family: 'Roboto-Bold';
        margin: 0px;
        font-size: 16px;
        //padding-left: 10px !important;
        color: #1c355e;
        line-height: normal;
    }
    .title_cr {
        font-family: 'Roboto-Bold';
        margin: 0px;
        font-size: 13px;
        color: #010101;
        line-height: normal;
    }
    .content_cr {
        // font-family: 'Roboto-Bold';
        margin: 0px;
        font-size: 13px;
        color: #505050;
        line-height: normal;
    }
    .title {
        font-family: 'Roboto-Bold';
        margin: 0px;
        font-size: 13px;
        color: #010101;
        line-height: normal;
    }
    .content {
        margin: 0px;
        font-size: 13px;
        color: #505050;
        line-height: normal;
    }
    .btn-subscribe {
        margin: 0px;
        font-size: 13px;
        line-height: normal;
    }
    .current-plan {
        border: 0px solid #d4d4d4 !important
    }
    ion-list-header.active {
        --background: #F1F7FD;
        text-transform: uppercase;
        color: #1c355d;
        font-size: 15px;
        border: 2px solid green;
        font-family: 'Roboto-Bold';
    }
    ion-list-header.available {
        --background: #F1F7FD;
        text-transform: uppercase;
        color: #1c355d;
        font-size: 15px;
        border: 2px solid orange;
        font-family: 'Roboto-Bold';
    }
    ion-list-header.history {
        --background: #F1F7FD;
        text-transform: uppercase;
        color: #1c355d;
        font-size: 15px;
        border: 2px solid red;
        font-family: 'Roboto-Bold';
    }
}