<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title class="header-title text-center">{{agent.name}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>

</ion-content>