:host {
    ion-content {
        --background: #f2f7fd;
    }
    .add-task {
        width: 30px !important;
        position: absolute;
        top: 10px;
        z-index: 111;
    }
    .ref-task {
        width: 30px !important;
        right: 0px !important;
        position: absolute;
        top: 10px;
        z-index: 111;
    }
    .search-img {
        width: 30px !important;
    }
    ion-label {
        color: white;
        margin-top: 7px;
    }
    .tab-nav-box {
        width: 100%;
        max-width: 50% !important;
        float: left;
        color: #ffffff;
        background: #1c355e !important;
        font-size: 14px;
        font-weight: bold;
        border-bottom: 2px solid transparent;
    }
    .tab-nav-box.tab-selected {
        color: #ffffff;
        border-bottom: 5px solid #ffffff;
    }
    .tab-icon {
        height: 20px !important;
    }
    ion-list-header {
        --background: transprent;
    }
    .form-control {
        height: 45px;
    }
    ion-col {
        position: relative;
    }
}