<ion-header>
    <!-- <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar> -->
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <!-- <ion-img *ngIf="this.commonService.getUserData().role_id != 4" class="add-task" src="../../../assets/images/plus.png" (click)="addTask()"></ion-img> -->
                <ion-img class="add-task" src="../../../assets/images/plus.png" (click)="addTask()"></ion-img>
                <ion-list-header>
                    <!-- <ion-label style="display: block;text-align: center;width: 100%;">{{tabName}}</ion-label>  -->
                    <!-- <ion-label style="display: block;text-align: center;width: 100%;">Agent Away</ion-label> -->
                    <ion-img style="display: block;text-align: center;width: 150px;margin: auto;" src="../../../assets/images/hglogo.png"></ion-img>
                </ion-list-header>
                <ion-img class="ref-task" src="../../../assets/images/refresh.png" *ngIf="!isMenu" (click)="callRefressh()"></ion-img>
            </ion-col>
            <!-- <ion-col> -->
            <!-- <ion-img class="search-img" src="../../../assets/images/search.png"></ion-img> -->
            <!-- <ion-input *ngIf="isHome" type="search" placeholder="Search" class="form-control"></ion-input> -->
            <!-- <ion-list-header *ngIf="!isHome"> -->

            <!-- <ion-label *ngIf="!isHome" class="form-control"> {{tabName}}</ion-label> -->
            <!-- </ion-col> -->
        </ion-row>
    </ion-grid>
</ion-header>

<ion-content>
    <ion-tabs tabbarPlacement="top" color="primary" (ionTabsDidChange)="tabChange($event)">
        <ion-tab-bar slot="top">
            <ion-tab-button class="tab-nav-box" tab="home">
                <img class="tab-icon" src="../../../assets/images/home.png">
                <!-- <img src="../../../assets/images/home.png" *ngIf="selectTab==='tab1'">
            <img src="../../../assets/images/home.png" *ngIf="selectTab!=='tab1'"> -->
                <ion-label>Home</ion-label>
                <!-- <ion-badge>6</ion-badge> -->
            </ion-tab-button>

            <!-- <ion-tab-button *ngIf="this.commonService.getUserData().role_id != 4" class="tab-nav-box" tab="mypostedtask"> -->
            <ion-tab-button class="tab-nav-box" tab="mypostedtask">
                <!-- <ion-tab-button class="tab-nav-box" tab="history"> -->
                <!-- <ion-tab-button class="tab-nav-box" tab="mypostedtask"> -->
                <img class="tab-icon" src="../../../assets/images/mypostedtask.png">
                <ion-label>Posted</ion-label>
            </ion-tab-button>

            <ion-tab-button class="tab-nav-box" tab="myacceptedtask">
                <!-- <ion-tab-button class="tab-nav-box" tab="currently"> -->
                <img class="tab-icon" src="../../../assets/images/myacceptedtask.png">
                <ion-label>To-do</ion-label>
            </ion-tab-button>

            <ion-tab-button class="tab-nav-box" tab="sellmylead">
                <img class="tab-icon" src="../../../assets/images/leading.png">
                <ion-label>Leads</ion-label>
            </ion-tab-button>


            <!-- <ion-tab-button class="tab-nav-box" tab="chat">
                <img class="tab-icon" src="../../../assets/images/chat.png"> -->
            <!-- <ion-label>Chat</ion-label> -->
            <!-- </ion-tab-button> -->
            <ion-tab-button class="tab-nav-box" tab="menu">
                <img class="tab-icon" src="../../../assets/images/menu.png">
                <ion-label>Menu</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-content>