<ion-content>
    <!-- <ion-list-header>
        <ion-label style="display: block;text-align: center;width: 100%;">Currently</ion-label>
    </ion-list-header> -->

    <ion-radio-group [(ngModel)]="selectPage">
        <ion-grid no-padding>
            <ion-row no-padding>
                <ion-col no-padding>
                    <ion-label class="tabing_task tabing1 active">My To-Do
                        <ion-radio value="post"></ion-radio>
                        <span class="taskcheckmark"></span>
                    </ion-label>
                </ion-col>
                <ion-col no-padding>
                    <ion-label class="tabing_task tabing1">To-Do History
                        <ion-radio value="accept"></ion-radio>
                        <span class="taskcheckmark"></span>
                    </ion-label>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-radio-group>

    <ion-list no-padding *ngIf="acceptedTaskList?.length > 0 && this.selectPage=='post'" style="margin-bottom: 30px;">
        <ion-card-content *ngFor="let task of acceptedTaskList" no-padding>
            <ion-grid no-padding>

                <ion-row style="padding-left: 5px; padding-right: 5px;">
                    <ion-col no-padding size="12" (click)="taskClick(task,'accept')">
                        <!-- <ion-label class="title bold">{{task.ServiceName}}({{task.Total}})</ion-label> -->
                        <ion-label class="title bold">{{task.ServiceName}}</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row style="padding-left: 5px; padding-right: 5px;" (click)="taskClick(task,'accept')">
                    <ion-col no-padding size="3">
                        <ion-label class="title gray">Appt. Time/date:</ion-label>
                    </ion-col>
                    <ion-col no-padding size="9">
                        <ion-label class="content">{{ task.DateTime | date:'MMM dd, hh:mm a': 'UTC' }}</ion-label>
                    </ion-col>
                </ion-row>
                <!-- style="padding-left: 5px; padding-right: 5px;" -->
                <ion-row>
                    <ion-col no-padding size="7">
                        <ion-grid no-padding>
                            <ion-row no-padding (click)="taskClick(task,'accept')">
                                <ion-col no-padding size="5">
                                    <ion-label class="title gray">Zipcode :</ion-label>
                                </ion-col>
                                <ion-col no-padding size="7">
                                    <ion-label class="content">{{task.ServiceZipCodes}}</ion-label>
                                </ion-col>
                            </ion-row>
                            <ion-row no-padding (click)="taskClick(task,'accept')">
                                <ion-col no-padding>
                                    <ion-label class="title blue">${{task.Deal}} <span>Deal</span></ion-label>
                                </ion-col>
                            </ion-row>
                            <!-- *ngIf="task.Conform == '1'" -->
                            <ion-row no-padding>
                                <ion-col no-padding size="5">
                                    <ion-label class="title gray">Posted By:</ion-label>
                                </ion-col>
                                <ion-col no-padding size="7">
                                    <ion-label class="content">{{task.name}}</ion-label>
                                </ion-col>
                            </ion-row>

                        </ion-grid>
                    </ion-col>
                    <ion-col no-padding size="5">
                        <ion-grid no-padding>
                            <!-- <ion-row (click)="taskClick(task,'accept')">
                                <ion-col no-padding class="col-rigth-aligh">
                                    <ion-label class="content">{{ task.DateTime | date:'MMM dd, hh:mm a': 'UTC' }}</ion-label>
                                </ion-col>
                            </ion-row> -->
                            <ion-row *ngIf="task.Conform != '0'  && task.Complete == '0'">
                                <ion-col no-padding class="col-rigth-aligh">
                                    <ion-button (click)="CompleteTask(task,1)" class="btn btn-green">Completed</ion-button>
                                </ion-col>
                            </ion-row>
                            <ion-row *ngIf="task.Conform != '0'  && task.Complete == '0' ">
                                <ion-col no-padding class="col-rigth-aligh">
                                    <ion-button (click)="CompleteTask(task,2)" class="btn btn-red">Not Completed</ion-button>
                                </ion-col>
                            </ion-row>
                            <ion-row *ngIf="task.Conform != '0'">
                                <ion-col no-padding class="col-rigth-aligh">
                                    <ion-button (click)="openChat(task,'accept')" class="btn btn-blue">Chat</ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-col>
                </ion-row>
                <ion-row style="padding-left: 5px; padding-right: 5px;" (click)="taskClick(task,'accept')">
                    <ion-col no-padding size="3">
                        <ion-label class="title gray">Comment:</ion-label>
                    </ion-col>
                    <ion-col no-padding size="9">
                        <ion-label class="content">{{task.Comments}}.</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row style="padding-left: 5px; padding-right: 5px;">
                    <ion-col no-padding size="3">
                        <ion-label class="title gray">Status:</ion-label>
                    </ion-col>
                    <ion-col no-padding size="9">
                        <ion-label *ngIf="task.Conform == '1' && task.Complete == '0' && task.Agree == '0'" class="content taskinprogress"> Task In Progress </ion-label>
                        <ion-label *ngIf="task.Agree == '2'" class="content closed">Closed {{ task.UpdateDate | date:'MM/dd/yyyy': 'UTC' }}</ion-label>
                        <ion-label *ngIf="task.Conform == '0' && task.Agree == '0' && task.Complete == '0' " class="content pending">Pending Acceptance</ion-label>
                        <ion-label *ngIf="task.Conform != '0'  && task.Complete == '1' && task.Agree == '1'" class="content pending">Pending Verification</ion-label>
                    </ion-col>
                </ion-row>
                <!-- *ngIf="task.Conform != '0' && task.Agree != '0' && task.Complete != '0' " -->
                <ion-row style="padding-left: 5px; padding-right: 5px;">
                    <ion-col no-padding size="3">
                        <ion-label class="title gray">Agent Profile:</ion-label>
                    </ion-col>
                    <ion-col no-padding size="9">
                        <!--  *ngIf=" task.Complete == '0' && task.Agree == '0'" -->
                        <ion-label class="content">{{task.name}}<span class="actions-profile" (click)="viewProfile(task.CreatedBy)">(View Profile)</span></ion-label>
                        <!-- <ion-label *ngIf="task.Agree == '2'" class="content">{{task.name}}<span class="actions-profile" (click)="viewProfile(task.CreatedBy)">(View Profile)</span></ion-label>
                        <ion-label *ngIf="task.Conform != '0'  && task.Complete == '1' && task.Agree == '1'" class="content">{{task.name}}<span class="actions-profile" (click)="viewProfile(task.CreatedBy)">(View Profile)</span></ion-label> -->
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-list>

    <ion-list no-padding *ngIf="toDoHistoryList?.length > 0 && this.selectPage=='accept'" style="margin-bottom: 30px;">
        <ion-card-content *ngFor="let task of toDoHistoryList" no-padding>
            <ion-grid no-padding>

                <ion-row style="padding-left: 5px; padding-right: 5px;">
                    <ion-col no-padding size="12" (click)="taskClick(task,'accept')">
                        <ion-label class="title bold">{{task.ServiceName}}</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row style="padding-left: 5px; padding-right: 5px;" (click)="taskClick(task,'accept')">
                    <ion-col no-padding size="3">
                        <ion-label class="title gray">Appt. Time/date:</ion-label>
                    </ion-col>
                    <ion-col no-padding size="9">
                        <ion-label class="content">{{ task.DateTime | date:'MMM dd, hh:mm a': 'UTC' }}</ion-label>
                    </ion-col>
                </ion-row>
                <!-- style="padding-left: 5px; padding-right: 5px;" -->
                <ion-row>
                    <ion-col no-padding size="7">
                        <ion-grid no-padding>
                            <ion-row no-padding (click)="taskClick(task,'accept')">
                                <ion-col no-padding size="5">
                                    <ion-label class="title gray">Zipcode :</ion-label>
                                </ion-col>
                                <ion-col no-padding size="7">
                                    <ion-label class="content">{{task.ServiceZipCodes}}</ion-label>
                                </ion-col>
                            </ion-row>
                            <ion-row no-padding (click)="taskClick(task,'accept')">
                                <ion-col no-padding>
                                    <ion-label class="title blue">${{task.Deal}} <span>Deal</span></ion-label>
                                </ion-col>
                            </ion-row>
                            <!-- *ngIf="task.Conform == '1'" -->
                            <ion-row no-padding>
                                <ion-col no-padding size="5">
                                    <ion-label class="title gray">Posted By:</ion-label>
                                </ion-col>
                                <ion-col no-padding size="7">
                                    <ion-label class="content">{{task.name}}</ion-label>
                                </ion-col>
                            </ion-row>

                        </ion-grid>
                    </ion-col>
                    <ion-col no-padding size="5">
                        <ion-grid no-padding>
                            <ion-row *ngIf="task.ClientSurvey != 0">
                                <ion-col no-padding class="col-rigth-aligh">
                                    <ion-button (click)="ClentSurvey(task,'accept')" class="btn btn-red">View Survey</ion-button>
                                </ion-col>
                            </ion-row>
                            <ion-row *ngIf="task.Conform != '0'">
                                <ion-col no-padding class="col-rigth-aligh">
                                    <ion-button (click)="openChat(task,'accept')" class="btn btn-blue">Chat</ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-col>
                </ion-row>
                <ion-row style="padding-left: 5px; padding-right: 5px;" (click)="taskClick(task,'accept')">
                    <ion-col no-padding size="3">
                        <ion-label class="title gray">Comment:</ion-label>
                    </ion-col>
                    <ion-col no-padding size="9">
                        <ion-label class="content">{{task.Comments}}.</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row style="padding-left: 5px; padding-right: 5px;">
                    <ion-col no-padding size="3">
                        <ion-label class="title gray">Status:</ion-label>
                    </ion-col>
                    <ion-col no-padding size="9">
                        <ion-label *ngIf="task.Conform == '1' && task.Complete == '0' && task.Agree == '0'" class="content taskinprogress"> Task In Progress </ion-label>
                        <ion-label *ngIf="task.Agree == '2'" class="content closed">Closed {{ task.UpdateDate | date:'MM/dd/yyyy' }}</ion-label>
                        <ion-label *ngIf="task.Agree == '3'" class="content rejeced">Rejecred By Agent</ion-label>
                        <ion-label *ngIf="task.Conform == '0' && task.Agree == '0' && task.Complete == '0' " class="content pending">Pending Acceptance</ion-label>
                        <ion-label *ngIf="task.Conform != '0'  && task.Complete == '1' && task.Agree == '1'" class="content pending">Pending Verification</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row style="padding-left: 5px; padding-right: 5px;" *ngIf="task.Conform != 0 ">
                    <ion-col no-padding size="3">
                        <ion-label class="title gray">Agent Profile:</ion-label>
                    </ion-col>
                    <ion-col no-padding size="9">
                        <!-- *ngIf="task.Conform == '1' && task.Complete == '0' && task.Agree == '0'" -->
                        <ion-label class="content">{{task.name}}<span class="actions-profile" (click)="viewProfile(task.CreatedBy)">(View Profile)</span></ion-label>
                        <!-- <ion-label *ngIf="task.Agree == '2'" class="content">{{task.name}}<span class="actions-profile" (click)="viewProfile(task.CreatedBy)">(View Profile)</span></ion-label>
                        <ion-label *ngIf="task.Conform != '0'  && task.Complete == '1' && task.Agree == '1'" class="content">{{task.name}}<span class="actions-profile" (click)="viewProfile(task.CreatedBy)">(View Profile)</span></ion-label> -->
                    </ion-col>
                </ion-row>

            </ion-grid>
        </ion-card-content>
    </ion-list>
    <ion-card-content no-padding class="empty-list-box" *ngIf="acceptedTaskList?.length == 0 && this.selectPage=='post'">
        <ion-label class="empty-list">
            Sorry, No New Tasks Available!
        </ion-label>
    </ion-card-content>
    <ion-card-content no-padding class="empty-list-box" *ngIf="toDoHistoryList?.length == 0 && this.selectPage=='accept'">
        <ion-label class="empty-list">
            <!-- Sorry, No New Tasks Available! -->
            No History Available for you. Select and Complete a task to show history.
        </ion-label>
    </ion-card-content>
</ion-content>