:host {
    .title {
        cursor: pointer;
        line-height: 1.2em;
        font-size: 15px;
        position: relative;
        padding: 5px 5px 5px 10px;
        font-family: 'Roboto';
        border-bottom: 1px solid rgba(210, 210, 210, 1);
        margin: 0;
        /* Define the style rules for the 'arrow icons' */
        span {
            position: absolute;
            right: 1em;
            top: 1.2em;
            font-size: 0.95em;
        }
    }
    .content {
        position: relative;
        font-size: 14px !important;
        padding: 5px 5px 5px 9px;
        font-family: 'Roboto';
        background: rgba(230, 230, 230, 1);
        border-bottom: 1px solid rgba(210, 210, 210, 1);
        ion-button {
            position: absolute;
            bottom: 20px;
            right: 20px;
        }
    }
    /* Here we define the actual 'menu' and its 'options' */
    .image-wrapper {
        margin: 0 auto 2em auto;
        width: 20%;
        img {
            display: block;
            margin: auto;
        }
    }
    ion-button {
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
    /* Following classes display/hide the 'menu'
     // based on the state change detection in the
     // component class */
    .active {
        display: block
    }
    .inactive {
        display: none;
    }
}