<ion-grid no-padding>
    <ion-row no-padding (click)="toggleAccordion()" style="align-items: center;">
        <ion-col no-padding size="11">
            <ion-label class="title"> {{ name }}</ion-label>
        </ion-col>
        <ion-col no-padding size="1">
            <span *ngIf="isMenuOpen">&#9650;</span>
            <span *ngIf="!isMenuOpen">&#9660;</span>
        </ion-col>
    </ion-row>
    <ion-row no-padding [ngClass]="this.isMenuOpen ? 'active' : 'inactive'">
        <ion-col no-padding size="1">
        </ion-col>
        <ion-col no-padding size="10">
            <ion-label class="content"> {{ description }}</ion-label>
        </ion-col>
        <ion-col no-padding size="1">
        </ion-col>
    </ion-row>
</ion-grid>
<!-- <section class="image-wrapper">
        <img [src]="image">
    </section> -->

<!-- <ion-button type="button" color="primary" fill="solid" size="default" (click)="broadcastName(name)">Console log me!</ion-button> -->