:host {
    ion-header ion-toolbar {
        padding-top: 0px !important
    }
    ion-content {
        --background: #fff;
    }
    ion-input {
        color: #505050;
        font-size: 15px;
    }
    ion-label {
        color: #505050;
        font-size: 15px;
    }
    .pos-title {
        font-family: 'Roboto-Bold'!important;
        color: #fff !important;
        font-size: 19px !important;
    }
    .pos-content {
        font-family: 'Roboto'!important;
        color: #fff !important;
        font-size: 17px !important;
    }
    .pos-info {
        position: absolute;
        top: 4px !important;
        right: 60% !important;
        z-index: 11111 !important;
    }
    ion-img {
        margin: 19px 0px;
        width: 20px !important;
    }
    .select-text {
        white-space: normal !important;
    }
    .pop-block {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.8) !important;
        z-index: 1111;
    }
    .popup-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
    }
    .popup-box-close {
        color: #FFFFFF;
        font-size: 30px;
        width: 30px;
        float: right;
    }
}