<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title class="header-title text-center">{{PageTitle}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content no-padding>
    <!-- <form [formGroup]="addTaskForm" (ngSubmit)="onSubmit(addTaskForm.value)"> -->
    <ion-item>
        <ion-label position="floating">Bank Name *.</ion-label>
        <ion-input type="text" [(ngModel)]="BankName" [disabled]="!isEdit" placeholder="Enter Bank Name." clearInput></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Bank Account Holder Name *.</ion-label>
        <ion-input [(ngModel)]="BankHolderName" [disabled]="!isEdit" placeholder="Enter Bank Account Holder Name " type="text" clearInput></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Bank Account # *</ion-label>
        <ion-input type="tel" [(ngModel)]="BankAccountNo" [disabled]="!isEdit" placeholder="Enter Bank Account #." clearInput></ion-input>
    </ion-item>
    <ion-item *ngIf="isShow">
        <ion-label position="floating">Bank IFSCCode *.</ion-label>
        <ion-input [(ngModel)]="BankIFSCCode" placeholder="Enter Bank IFSCCode" [disabled]="!isEdit" type="text" clearInput></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Routing Number *.</ion-label>
        <ion-input [(ngModel)]="Rounting" placeholder="Enter your bank’s Routing Number." [disabled]="!isEdit" type="text" clearInput></ion-input>

    </ion-item>
    <ion-item>
        <ion-label position="floating">Social Security Number *.</ion-label>
        <ion-icon class="pos-info" (click)="showInfo()" name="information-circle"></ion-icon>
        <ion-input [(ngModel)]="SSN" placeholder="Please enter the last 4 digits of your SSN for secure payment processing." [disabled]="!isEdit" type="text" clearInput></ion-input>

    </ion-item>
    <!-- <ion-item>
        <ion-label position="floating">SSN # *</ion-label>
        <ion-input type="number" [(ngModel)]="SSN" placeholder="Ente SSN #." clearInput></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Routing # *</ion-label>
        <ion-input type="number" [(ngModel)]="Routingsn" placeholder="Ente Routing #." clearInput></ion-input>
    </ion-item> -->

    <ion-button *ngIf="isEdit" expand="block" class="btn btn-red" (click)="onSubmit()">
        <!-- [disabled]="this.Date == ''|| this.Time == ''|| this.SelectTask == ''|| this.ClientName == ''|| this.ClientMobileNo == ''|| this.email == ''|| this.zipcodes.length == 0 || this.Deal == ''|| this.Comments == ''" -->
        {{btnTitle}}
    </ion-button>

    <ion-button expand="block" *ngIf="!isEdit" class="btn btn-red" (click)="edit()">
        Edit
    </ion-button>
    <!-- </form> -->
</ion-content>

<div *ngIf="showInfoData" class="pop-block">
    <div class="popup-box">
        <ion-label class="popup-box-close" (click)="showInfo()"> &times; </ion-label>

        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-label class="pos-title">Why is my Social Security Number needed?</ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-label class="pos-content">
                        Payments to agents will be processed by stripe.com, a software platform. Due to IRS reporting requirements, stripe.com requires your social security number to report income over $600. Stripe may issue a 1099. It ‘s recommended that you consult a tax advisor
                        to determine your tax filing and reporting requirements
                    </ion-label>
                </ion-col>
            </ion-row>
        </ion-grid>

    </div>
</div>