<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title class="header-title text-center">FAQs</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content style="--padding-bottom: 50px !important;">
    <!-- <app-expandlist *ngFor="let technology of technologies" name="{{ technology.name }}" description="{{ technology.description }}" image="{{ technology.image }}" (change)="captureName($event)"></app-expandlist> -->
    <app-expandlist *ngFor="let technology of technologies" name="{{ technology.name }}" description="{{ technology.description }}" (change)="captureName($event)"></app-expandlist>

</ion-content>