:host {
    ion-header ion-toolbar {
        padding-top: 0px !important
    }
    ion-content {
        --background: #ffffff;
    }
    ion-list {
        background: transparent;
    }
    ion-label {
        --color: #1c355e;
    }
    ion-input {
        font-size: 14px;
    }
    ion-checkbox {
        -webkit-margin-end: 10px !important;
        margin-inline-end: 10px !important;
        --ion-color-primary: #ff0000 !important;
        --ion-color-primary-contrast: #ffffff !important;
        --border-color: #ff0000;
    }
    .custom-checkbox .form-control {
        border-bottom: none;
        font-size: 15px;
        display: block;
        --inner-border-width: 0 0 0px 0 !important;
        width: 33.33%;
        float: left;
    }
}