<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title class="header-title text-center">Settings</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="notifyForm" (ngSubmit)="onSubmit(notifyForm.value)" style="padding: 0 6px;">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-label class="bold" position="floating">Notification</ion-label>
                    <ion-list class="custom-checkbox">
                        <ion-item no-padding class="form-control">
                            <!-- *ngFor="let entry of selectNotify" -->
                            <ion-label>Text</ion-label>
                            <ion-checkbox slot="start" formControlName="notify_text"></ion-checkbox>
                        </ion-item>
                        <ion-item no-padding class="form-control">
                            <ion-label>Email</ion-label>
                            <ion-checkbox slot="start" formControlName="notify_email"></ion-checkbox>
                        </ion-item>
                        <ion-item no-padding class="form-control">
                            <ion-label>Phone</ion-label>
                            <ion-checkbox slot="start" formControlName="notify_phone"></ion-checkbox>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="this.commonService.getUserData().role_id == 3 || this.commonService.getUserData().role_id ==5">
                <ion-col>
                    <ion-item no-padding class="form-control">
                        <ion-label>Show Auto Public After 48 hours </ion-label>
                        <ion-toggle formControlName="IsShowTwentyFour"></ion-toggle>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row class="container mb-10">
                <ion-col>
                    <ion-button class="btn btn-red" type="submit" [disabled]="!notifyForm?.valid">
                        Update Settings
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>